#abuse_id{background:rgba(0,14,18,0.8);height:80%;width:50%;}
.msp,.fel{background:brown;}
.msp.fel{margin-left:4em;}
.podsmall{text-align:center;}

.centstr{background:green;}
#abuse_id ul{list-style:none;padding:3px;margin:0;display:block;position:relative;background:rgba(0,0,0,0);}
#html_abuse_popup{background:rgba(0,0,0,0);height:calc(100% - 2em - 1.5em - 2em);display:block;position:relative;overflow:auto;}
.abuseli{background:rgba(0,0,0,0);margin:0;padding:10px;}