
*{box-sizing: border-box;}
#loginery-wrap{
background: rgb(237, 201, 175);
width: 50%;
width: 50vw;
margin:0 auto;
border: none;
max-width:31.250em;
}
#loginery-wrap a{cursor:pointer;color:rgba(0,0,200,0.9);text-decoration:underline;}


#loginery-wrap strong{
font-size:0.8em;
font-family: Courier;
}

#mform,#outresult{
display:block;
width: 100%;
padding-left:6%;
padding-right:6%;

}
#mform h4{line-height:2.5em;font-size:1em;background:none;margin:0;}

		
.login-email,.login-pwd,.login-submit,.login-text, input[name=age]{
width:100%;
display:inline-block;
padding-left:10px;

height:40px;
}
input[name=fem]{display:inline-block;vertical-align:middle;}
input[name=fem] + .fem{
vertical-align:-2px;	
}
.inpwrap{
display:block;
position:relative;
margin-top:2px;
margin-bottom:4px;
}

.submitWrap{margin-top:4px;}

#lShow{
display:block;
position:absolute;
top:0;right:0;
vertical-align:bottom;
height:40px;padding: 9px 20px 10px 20px;
border:1px solid blue;
cursor:pointer;

}

#sShow{
color:blue;

}

.login-submit/*input[type=submit]*/{
width: 30%;
margin-left:70%;
cursor: pointer;	
background: /*rgb(61, 157, 179)*/ brown;
font-family: Courier,sans-serif;
font-weight:bold;
color: #fff;
border: 1px solid rgb(28, 108, 122);	
}
.login-submit.waiting{background:green;}
.login-email.redinput,.login-pwd.redinput,.login-text.redinput{
border:1px solid red;
}
/*#sessRed{color:green;}*/
#sessRed.red{color:red;}
#sessRed.green{color:green;}


#outresult{
display:none;
}	
#outresult.ok{background:lightgreen;}
#outresult.not-ok{background:pink;}

.lightgreen{background:lightgreen;}
@media screen and (max-width: 650px) {
#loginery-wrap{
width:100%;
width:90vw;
}
#mform{width:100%;}
.soc-part{display:block;width:100%;}
}
