html{font-size:62.5%;height:100%;margin:0;padding:0;width:100%;
background:#f5deb3;}
.lt-ie9 article,.lt-ie9 aside,.lt-ie9 details,.lt-ie9 figcaption,.lt-ie9 figure,.lt-ie9 footer,.lt-ie9 header,.lt-ie9 hgroup,.lt-ie9 menu,.lt-ie9 section{display:block;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,section{display:block;}
body {height:100%;
font-size:18px;
font-size:1.6rem;
line-height: 1.625;
-webkit-font-smoothing:antialised;

margin:0;padding:0;font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;}
a {color: #026acb;text-decoration: none;outline: none;}
a:hover {text-decoration: underline;}
p {margin: 0 0 1.2rem;padding: 0;}
ul, ol {margin: 1rem 0 1.4rem 24px;padding: 0;line-height: 140%;}
li {margin: 0 0 1.6rem 0;padding: 0;}
h1, h2, h3, h4, h5, h6 {
line-height: 2.3rem;
margin: 2.0rem 0 4.0rem;color: #000;}
h1 {font-size: 3.2rem;}
h2 {font-size: 2.56rem;}
h3 {font-size: 2.24rem;}
h4 {font-size: 1.92rem;}
h5 {font-size: 1.76rem;}
h6 {font-size: 1.6rem;}
#pagewrap {
display:block;
position:relative;
/*max-width:1365px;*//* me 1365px*/
padding:40px;
adding:4.0rem;
min-height:100%;}
/*@media screen and (min-width: 1900px) {body{font: 1.9em/180% Calibri, Arial, Helvetica, sans-serif;}#pagewrap{margin-top:8px;min-width:1365px;width:2%;min-height:100%;} */
#haupt-banner {display:block;
position:relative;
background:pink;height:70px;
padding-left:4.0rem;padding-right:4.0rem;}
#haupt-banner div{background:green;height:100%;}
.codrops-header{z-index:40;}
main{display:block;position:relative;}
#footer3{
display:block;
position: relative;
background:green;
min-height:40px;}
.static-login{width:50%;height:40%;overflow:auto;margin:auto;
position:absolute;top:-30%;left:0;bottom:0;right:0;
}
/**************************************************************************
HEADER
**************************************************************************/
nav{
display:block;position:relative;
/*
background:#65acc8;
background: -webkit-gradient(linear, left top, left bottom, from(#4586ae), to(#6a6a6a));
background: -moz-linear-gradient(top, #65acc8,  #4586ae);
background: linear-gradient(#65acc8, #4586ae);
*/
background: #6f4e37;

height:45px;
/*eight:4.5rem;*/
width:100%;
}
 nav  #menu{
 display:block;
 position:absolute;

/* background:pink;*/
top:0;left:0;margin:0;padding:0;
list-style:none;
width:70%;
height:100%;
}
nav #menu li{
box-sizing:border-box;
/*background:yellow;*/
letter-spacing:0.06em;
font-weight:bold;
text-align:center;
height:99%;
font-family:Trebuchet MS;
display:inline-block;
transition: 0.1s;
}
 nav #menu li a{
/* background:green;*/
	display:inline-block;
	width:9.4em;
height:100%;
line-height:2.9;
	color:rgb(255,230,255);
text-shadow: 0px 1px 3px black;
}

	nav #menu li:hover{
	background:rgba(174,198,207,0.1);
	order:1px solid rgba(174,198,207,0.3);
	border-radius:3px;
	box-shadow:0 2px 5px 1px rgba(0,0,0,0.2);
	/*transform:translateY(-1px);*/
	}
	
nav ul li a:hover{text-decoration:none;}




#miniMenu,.touch-mini-menu{
display:none;
opacity:1;
top:45px;
position:relative;
width:100%;

list-style:none;
box-sizing:border-box;
margin:0;
padding:0;

background:rgba(179,158,181,0.9);
background: linear-gradient(rgba(179,158,189,.7), rgba(179,158,159,0.8))
}
.touch-mini-menu li{

height:61px;
position:relative;
margin-top:0px;
margin-bottom:0px;
bckground:/*rgb(245,222,179);*/rgba(179,158,181,0.7)/*yellow*/;
background: linear-gradient(rgba(179,158,179,0.1), rgba(179,158,159,0.8));
padding-left:6em;
padding-right:1em;
order-radius:10px;
box-sizing:border-box;
order-bottom:1px solid rgba(0,0,250,0.8);
/*box-shadow:0 2px 5px 1px rgba(0,0,0,0.9);*/
}
.touch-mini-menu li:last-of-type{box-shadow:0px 1px 1px rgba(179,158,181,0.9);border-bottom:none;}


.znak-svg{display:none;position:absolute;top:0px;left:2px;padding:0;
width:5em;height:100%;background:rgba(255,0,0,0.3);border-radius:5px;vertical-align:middle;text-align:center;}
/*touch-mini-menu li:last-of-type a{border-bottom:none;}*/

.touch-mini-menu li a {
ackground:rgba(200,0,0,0.5);
eight:90%;
display: block;
font-size:1.69em;
line-height:2.2;
outline: none;
border-radius:2px;
border-bottom:2px solid rgba(255,255,255,0.7);
text-shadow: 1px 1px 1px black;

}

.touch-mini-menu li:hover {background:rgba(179,158,189,.9);
background: linear-gradient(rgba(179,158,189,.7), rgba(179,158,159,0.8));
ox-shadow:0px 1px 5px 5px rgba(0,200,0,0.9);
transfrm:translateX(-40px);
}
.touch-mini-menu .znak-svg{display:inline-block;}
.touch-mini-menu  {display:block;z-index:1;opacity:1;}

nav .lb-menu-all{
-webkit-box-sizing:border-box;
box-sizing:border-box;
display:block;
background: rgba(174,198,207,0);
cursor: pointer;
	position: absolute;
	z-index: 5;
	width: 2em;
	height: 79%;
top:0.3em;right:0.9em;
	padding-right:0.2em;
	padding-left:0.25em;
	margin:0;
	transition:all 0.1s;
	ox-shadow:0 0px 1px 1px rgba(0,0,0,0.9);
	order:1px solid rgba(0,0,0,0);
	border-radius:4px;
}
nav .lb-menu-all:hover,nav .lb-menu-all.active{border:1px solid black;border-radius:4px;
box-shadow:0 0.02em 1px 1px rgba(0,0,0,0.9);}
nav .lb-menu-all.active{box-shadow:0 1px 1px 1px rgba(100,0,0,0.7) inset;}
nav .lb-menu-all.active{background:gray;}

label *{transition:all 0.3s;-webkit-transition:all 0.3s;}
label .spinner {position:absolute;top:0.7rem;left:0;
height:4px;width:100%;border-radius:2px;
background:/*rgb(67,48,46)*/rgba(255,255,255,0.2);margin:0;padding:0;}
label .diagonal.part-1 {display:block;position:relative;}
label .horizontal {display:block;position:relative;margin-top:4px;}
label .diagonal.part-2 {display:block;position:relative;margin-top:4px;}
label .spinner.active{background:orange;}
/*****************************************
BENEMUNG
******************************************/
.codrops-header{
width:100%;
min-height:8em;
background: /*#F17370*/#F26663;
display:block;
position:relative;
margin: 0 auto;
padding: 6.5em 0;
margin-top:-1.75em;
text-align: center;
font-family;'Lato', Arial, sans-serif;
}
.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
	color:white;
}
.codrops-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: rgba(0,0,0,0.3);
	}
.codrops-demos a {
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	font-weight: 400;
	font-size: 90%;
	margin: 0 4px;
	background: #237dac;
	color: #fff;
}
.codrops-demos a:hover,
.codrops-demos a.current-demo {
	background: #5ca9d6;
}
/**********************************
huiaper
******************************* */
#bu{
padding:0.8em;
background:pink;
width:90.1%;
margin:3.6em auto;
margin-bottom:0;
display:block;
position:relative;
border:1px solid yellow;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

/*************************************
flex-content
**************************************/
/*.fluiditems:nth-child(odd){background:#F26663;}*/
#flex-content{
display:block;
width:100%;
min-height:94.3%;
min-height:94.3vh;
height:auto;
margin-top:0px;
padding-top:0em;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
/*border:1px solid blue;*/
/*background:green;*/
}
#daper,.daper{
width:92%;

/*background:blue;*/
position:relative;
margin:0 auto;
display:block;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
word-wrap:break-word;
height:auto;
}

/*
.fluiditems{
position:relative;
float:left;
margin:1% 1% 1% 1%;
padding:0;
-webkit-box-sizing:border-box;
box-sizing:border-box;
background:blue;
width:31.3%;
height:360px;
text-align:center;
color:white;
overflow:hidden;
}
.flex #daper{display:flex;flex-wrap:wrap;
justify-content:center;align-items:center;margin-top:20px;
}
.flex .fluiditems{background:pink;margin-bottom:5px;margin-top:20px;}
.flex .pagin{display:block;position:relative;width:100%;margin-top:15px;}
*/
 #daper .pagin{
 clear:both;
 display:block;
 position:relative;
 line-height:1.5em;
 background:pink;
 padding:0.8em;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 }
/**************************************************************************
CONTENT top right bottom left
**************************************************************************/
#content {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
	background: rgba(255,255,230,1);
	/*margin: 3% 0 3%;*//*30px 0 30px*/
	padding: 60px 5em;/*y x* 80px 5em*/
	margin-right:0px;
	width: 70%;
	/*height:auto;*/
	min-height:40%;/*40%;*/
	
	/*max-height:10vmin;*/
	/*min-height:100%;*/
	/*width:910px;*/
	float: left;
	/*
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	-webkit-box-shadow: 0 1px 30px rgba(0,0,120,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,120,.4);
	box-shadow: 0 1px 3px rgba(0,0,120,.4);*/
}
/* post */
.post {
	margin-bottom: 40px;
}
.post-title {
	margin: 0 0 5px;
	padding: 0;
	
	/*text-shadow: 0 1px 1px #222222;*/
}
.post-title a {
	text-decoration: none;
	color: #000;
}
.post-meta {
	margin: 0 0 10px;
	font-size: 90%;
}
/* post image */
.post-image {
	margin: 0 0 15px;
}
#content  img{width:100%;height:auto;}
/************************************************************************************
SIDEBAR
*************************************************************************************/
#sidebar {
	width: 30%;
	float: right;
	margin: 0% 0 0%;
	/*margin-right:2.5%;
	margin-left:2.5%;*/
	box-sizing:border-box;
}
.widget {
	background: #fff;
	margin: 0 0 0px;
	padding: 10px 20px;
	/* rounded corner */
	/*
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;*/
	/*
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);*/
}
.widgettitle {
	margin: 0 0 5px;
	padding: 0;	
}
.widget ul {
	margin: 0;
	padding: 0;
}
.widget li {
	margin: 0;
	padding: 6px 0;
	list-style: none;
	clear: both;
	border-top: solid 1px #eee;
}
#footer{
position:relative;
clear:both;
background:#2173a3;
color: #ccc;

width:100%;
font-size: 1.4rem;
height:/*15*/6.5rem;
}
#footer a {
line-height:1.5em;
left:20px;
color: #fff;
}
#footer p{position:absolute;margin-left:60px;margin-top:10px;}
#footer2{
margin:0;
padding:0;
position:relative;
clear:both;
/*background:red;*/
color: #ccc;
padding:10px 0 10px;
font-size: 1rem;
/*margin-bottom:-20px;*/
min-width:100%;
height:12rem;
text-align:center;
}

#footer2 a {
color: #fff;
}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }
/*media query */



@media screen and (max-width: 1024px) {
/* pagewrap * 808*/
/*#menu{margin-left:8em;} */
#menu li{width: 9.5em;}

.codrops-header{
margin-top:-1.765em;
}
/* content */
#content {
width: auto/*60%*/;
float:none;
padding: 3% 4%;
}
#bu{width:86%;margin-left:6.4%;}
#daper,{
width:90%;
margin-top:0.7em;
}
.daper{width:100%;margin:0;padding:1px;}
/* sidebar */
#sidebar {
width: 100%;
margin:0 auto;
padding-left:0%;
}
#sidebar .widget {
padding: 3% 4%;
margin-top:2%;
margin-bottom: 2%;
}
#sidebar img{width:50%;}
#sidebar .widget .agenda{width:50%;}
/* embedded videos */
.video embed,
.video object,
.video iframe {
width: 100%;
height: auto;
min-height: 300px;
	}
}
/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {
html{font-size:100%;}
body{
font-size:0.8rem;
}
/*pad top r b left */
#pagewrap{padding:3px;}
.codrops-header{margin-top:-1.8em;}
.codrops-header h1 {font-size:170%;}
#bu{background:lightgreen;width:100%;margin:3.7em auto;margin-bottom:0;}
#daper{margin-top:0;padding:0;width:100%;}

nav #menu{display:none;}
	nav .lb-menu-all{top:0.3em;width:2.3em;padding-left:0.25em;padding-right:0.27em;}
	label .spinner {top:0.6em;left:0;}
	.touch-mini-menu li a {
		/*border-bottom:1px solid yellow;background:green;*/
	line-height:2.74;}


	#content {
		width: auto;
		float: none;
		margin: 2px 0;
		padding:2.8rem/*50px*/;
	}
	#sidebar {
		width: 100%;
		margin: 0;
		float: none;
	}
	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 1px;
		
	}
	#sidebar  img{width:40%;}
	#footer{font-size:0.9rem;}
#cnv{background-color:red;width:40%;height:200px;}
	.video embed,
	.video object,
	.video iframe {
	min-height: 250px;
	}
	}
	canvas{width:100%;}
/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 360px) {
/* disable webkit text size adjust (for iPhone) */
html {
font-size:1;
-webkit-text-size-adjust: none;
}
.daper{margin:0 auto;padding:1px;}
#content{padding:0.5em;}
.post-title{font-size:1.2rem;}
}
@media screen and (min-width:359px){
.daer{background:pink;color:red;width:100%;}
#flex-ontent{background:red;}
}

