<!--<div id="flex-content"> -->
<div id="bu">
<h4 class="post-titl">Didn't you know? <span id="demo" style="color:blue;"></span></h4></div>


<div id="daper">


<%- include includes/paginationarticlesview.html %>

<div class="fluiditems">
<div class="foto-cont">
<img src='/images/kuku.png' width="100%" height="100%"/></div>
</div>
<div class="fluiditems">8
<span id='kuk'></span>
<script>
function* foo(){
y=yield(2);
yield y*y;
}
var it=foo();
kuk.innerHTML=it.next(1).value +it.next(2).value;</script>
</div>
<div class="fluiditems">9</div>
<div class="fluiditems">10</div> 

<%- include includes/pagination.html %>
<div style="clear:both;">,</div>
</div> 

<%- include includes/adminarticles.html %>
