<!-- modules.html -->
<style>
/***
input[type=checkbox]:checked+label:before{
width:2em;
border:2px solid blue;
content:"\2713";
color:#f00;
font-style:normal;
background:lightgreen;}
}
***/
.off{background-color:gray;}
.on{background-color:lightgreen;}
</style>

<b>modules</b>
<h3>Create one</h3>
<form name="module" onchange="fuck()">
<input  type="text" name="modulname" placeholder="name" required value=""/>
visible:
<input type="checkbox" name="status" checked value="off" />
isfree:
<input type="checkbox" name="isfree" checked/>

<input type="submit" value="submit"/>
</form>
</br>
</br><h4>Option One</h4>


<table id="mytable">
<caption><h3>Modules</h3></caption>
<thead><tr><th>Modul</th><th>Status</th><th>Is free</th></tr></thead>


<% mods.forEach(function(m){%> 

<tr><td><b><%= m.modulname %><b></td>
<td><label id="status" data-sid="<%= m._id %>" class="<%= m.status %>"><%= m.status %></label><input data-id="<%= m._id %>" type="checkbox" onchange="goBusy1(this)" <% if(m.status == "on"){%> checked <%}%>/></td>
<td><label><%= m.isfree %></label><input data-id="<%= m._id %>" type="checkbox" onchange="goBusy(this)"/></td></tr>

<%})%>

</tbody>
</table>
<dialog id=myd2>
</br><span id="out2"></span>
<p>Сохранить настройки?</p>
<button id="yes" value="yes">yes</button>
</br><button id="no" value="no">no</button>
</dialog>
</br>
</br><span id="out"></span>
</br></br>

<% if(jobs){%>
<table id="myt">
<caption><h3>Agenda</h3></caption>
<thead><tr><th>name</th><th>type</th><th>priority</th><th>lastRunAt</th><th>repeatInterval</th>
<th>data</th><th>lastFinishedAt</th><th>lastModifiedBy</th><th>lockedAt</th><th>_id</th>
<th>nextRunAt</th></tr></thead>
<tbody id="rs3">
<% jobs.forEach(function(j,k){%>
<tr><td><%= j.name %></td><td><%= j.type %></td><td><%= j.priority %></td>
<td><%= j.lastRunAt %></td><td><%= j.repeatInterval %></td>
<td><%= j.data.to %></td><td><%= j.lastFinishedAt %></td>
<td><%= j.lastModifiedBy %></td><td><%= j.lockedAt %></td>
<td><%= j._id %></td><td><%= j.nextRunAt %></td></tr><%});%>
</tbody>
</table>
<%}%>


<b>Bu</b>

<!-- <dialog id="myd">
<p>this is a dialog!</p>
<input type='text' id='retv' value='' placeholder='enter value'>
<button id="close">enter</button>
</dialog>
-->

<script>
var hui=null;
out.innerHTML='';
function fuck(){
var frm=document.forms.namedItem("module");
//alert(frm.status.checked);
//alert(frm.modulname.value);
/***
out.innerHTML=frm.modulname.value;
out.innerHTML+=" : "+frm.status.checked;
out.innerHTML+=" : "+frm.isfree.checked;
out.innerHTML+=" : "+frm.status.value+" : "+frm.isfree.value;***/
misfree.innerHTML="ok gyes";
}
var frm=document.forms.namedItem("module");
frm.addEventListener('submit',function(ev){
var data=new FormData(document.forms.namedItem("module"));
var xhr=new XMLHttpRequest();
    xhr.open("post","/insertmodule",true);
	xhr.onload=function(e){
	 if(xhr.status==200){
	 var data=JSON.parse(this.response);
	 out.innerHTML=this.response;
	 }
	 else{out.innerHTML=this.response;
	 }}
	 xhr.send(data);
	 ev.preventDefault();},false);
	 
function goBusy1(el){
//alert('booo');
var b=el.getAttribute('data-id');
//alert(b);
document.getElementById('out2').innerHTML=el.value;
if(el.checked == true){el.value="on";
out.innerHTML=el.checked+" : "+el.value+" data-id :"+el.getAttribute('data-id');
hui=el.getAttribute('data-id');
document.getElementById('out2').innerHTML=el.value;
//var slabel=document.querySelector('label[data-sid="'+b+'"]');
    //slabel.innerHTML=el.value;
	//slabel.className=el.value;
//el.parentNode.textContent="on";
}
else{
el.value="off";
out.innerHTML=el.checked+" : "+el.value+" data-id: "+el.getAttribute('data-id');
document.getElementById('out2').innerHTML=el.value;
//var slabel=document.querySelector('label[data-sid="'+b+'"]');
    //slabel.innerHTML=el.value;
	//slabel.className=el.value;
hui=el.getAttribute('data-id');
//el.parentNode.textContent="off";
}
//alert(document.getElementById('status').innerHTML);
//var sLabel=document.querySelector('label[data-sid="'+b+'"]').innerHTML;
//alert(s);
//alert(el.parentNode.nextSibling)
myd2.showModal();
}
/***
function goRest(el){
if(el.checked==false){
el.value="off";
out.innerHTML=el.checked+" : "+el.value;

//alert('Чо? Включить блок? Или не надо?');
}
else{
el.value="on";
out.innerHTML=el.checked+" : "+el.value;
}
}
***/

document.getElementById('yes').onclick=function(){
myd2.close(this.value);}
document.getElementById('no').onclick=function(){
myd2.close(this.value);}

document.querySelector('dialog').addEventListener('close',function(){
//alert(this.returnValue);
var ba=this.returnValue;
//alert(ba);
if(ba=="yes"){

//alert(out2.innerHTML +" : "+hui)
saveModul();
} 
if(ba=="no"){ lassdas();}
},false);


function lassdas(){
var inpt=document.querySelector('input[data-id="'+hui+'"]');
var lb=document.querySelector('label[data-sid="'+hui+'"]');
//alert(lb);
if(lb.className == "on"){inpt.checked=true}
if(lb.className == "off"){inpt.checked=false}
}
/***
cancel.onclick=function(){
console.log('canceled');
myd2.close();
}***/

function saveModul(ba){
//alert("SaveModul says: "+out2.innerHTML);
var statuschange=out2.innerHTML;
var xhr=new XMLHttpRequest();
 xhr.open('post','/savemodule',true);
 xhr.setRequestHeader('Content-Type','application/json','utf-8');
 xhr.onload=function(e){
 if(xhr.satus=200){
 out.innerHTML=this.response;
 var slabel=document.querySelector('label[data-sid="'+hui+'"]');
    slabel.innerHTML=statuschange;
	slabel.className=statuschange;
 }}
 xhr.onerror=function(e){alert(e.status);}
 var data={};
 if(hui !==null)
 //alert('hui :'+hui);
 //data.is_free=ba;
 data.status=statuschange;
 data.modul_id=hui;
 var ata=JSON.stringify(data);
 xhr.send(ata);
}
</script>