<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"><![endif]-->
<!--[if gt IE 8]><html class="no-js"><![endif]-->
<html lang="en">
<head>
 <%- include('includes/head.html') %> 
</head>
<body>
<%- include('includes/footer.html',{data:"suka"}) %>
<script>
/*
(function(d,s,id){
var js,fjs=d.getElementsByTagName(s)[0];
if(d.getElementById(id)) return;
js=d.createElement(s);js.id=id;
js.src="//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5&appId=833998660009097";
fjs.parentNode.insertBefore(js,fjs);
}(document,'script','facebook-jssdk'));
*/
</script>
<div id="pagewrap">
<header id="header" class=""> <%- include includes/header.html %>
</header>
 <div id="flex-content"> 
<%- body %>
</div>
<%- include includes/login_form.html %>
<script>
var form=document.forms.namedItem("fileinfo");
form.addEventListener('submit',function(ev){
var suserpassw=form.password.value;
var suser=form.username.value;
var oreq=new XMLHttpRequest();
var params='username='+encodeURIComponent(suser)+'&password='+encodeURIComponent(suserpassw);
     oreq.open("post","/custom2",true);
	 oreq.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
	 
	 oreq.onload=function(oevent){
	 if(this.status==200){
	 var data=JSON.parse(this.responseText);
	 out4.innerHTML=data.success+" : "+data.redirect;
	 window.location.href=data.redirect;
	 }
	 else{out4.innerHTML=this.responseText + this.status;//oreq.status;
	 //window.location.href="#";
	 }}
	 oreq.send(params);
	 ev.preventDefault();},false);
	 </script>
	 <script>
	
 var forma=document.forms.namedItem("adus");
  forma.addEventListener('submit',function(ev){
var pw=forma.password.value;
var usname=forma.username.value;
var email=forma.email.value;
var oreq=new XMLHttpRequest();
var params='username='+encodeURIComponent(usname)+'&password='+encodeURIComponent(pw)+'&email='+
encodeURIComponent(email);
     oreq.open("post","/addingfuckinguser",true);
	 oreq.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
	 
	 oreq.onload=function(e){
	 if(this.status==200){
	 var data=JSON.parse(this.responseText);
	 out5.innerHTML=this.responseText;
	 //out5.innerHTML=+data.success+" : "+data.redirect;
	 //alert(data.redirect);
	 window.location.href=data.redirect;
	 }
	 else{out5.innerHTML=this.responseText + this.status;//oreq.status;
	 
	 }}
	 oreq.send(params);
	 ev.preventDefault();},false);
	 
  </script>
  <!--
= module >
 if(module =="on" && module !=='undefined'){>  
aside id="sidebar"><- include/includes/aside.html ></aside>
} -->

<footer id="footer"> <%- include includes/footer.html %></footer>
</div>

<script>
var html=document.getElementsByTagName("html")[0];
//var tout=document.getElementById('tout');
var dtct=document.createElement('div');
dtct.style.display='flex';
if(dtct.style.display === 'flex'){
html.className='flex';
//alert('flex ok');
//tout.innerHTML='flex OK';
}else{
//html.className+="noflex";
//tout.innerHTML='flex not supported';
}
</script>

</body>
</html>