<!-- includes/head.html -->
<meta charset="utf-8">
<%var titlen=({locvar=site_name})=>locvar%>
<title><%-titlen({locvar:locvar.title})-%></title>
<%= fb_app_id %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
function bak(){var str=``;
if(fb_app_id)str+=`<meta  property="fb:app_id" content="${fb_app_id}"/>`;
if(fb_admins)str+=`<meta property="fb:admins" content="${fb_admins}"/>`;
return str;} bak()%>
<% var str="";if(typeof locvar != "undefined" && og_plugin==true){
for(var i in locvar){str+=`<meta property="og:${i}" content="${locvar[i]}"/>\n`;}}
var brstr="";if(typeof work_article !="undefined" && og_plugin==true){
for(var i in work_article){bstr+=`<meta property="article:${i}" content="${work_article[i]}"/>\n`}}
var boad=()=>{var a="";if(typeof twitter_locvar !=="undefined" && og_plugin){
for(var i in twitter_locvar){a+=`<meta name="twitter:${i}" content="${twitter_locvar[i]}"/>`;}}return a;}%>
<%- brstr %><%-str%><%- boad()%>

<link rel="shortcut icon" type="image/ico" href="/images/w4.png">
<link href="/css/main2.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
<!-- <script>
var Detect=(function(){
var props="flex,flexWrap,justifyContent".split(","),
CSSprefix="Webkit,Moz,O,ms,Khtml".split(","),
d=document.createElement("detect"),
test=[],p,pty;
function testprefixes(prop){
var Uprop=prop.charAt(0).toUpperCase()+prop.substr(1),
All=(prop+' '+CSSprefix.join(Uprop+' ')+Uprop).split(' ');
for(var n=0,np=All.length;n<np;n++){
if(d.style[All[n]]==="")return true;}return false;}
for(p in props){pty=props[p];test[pty]=testprefixes(pty);}return test;
}());
</script>
-->