<!-- includes/paginationarticlesview.html -->



<% if(posts) {posts.forEach(function (d,i){ %>
<div class="fluiditems">
<div id="redaktor">
<ul class="red-nav">
<li>X</li><li><a onclick="redaktorHref(this)" data-id="<%= d._id %>" href="#popredaktor">redact</a></li>
<li data-id="<%= d._id %>" <%if(user && user.role == "admin"){%> onclick="removePost(this);" <%}%>>remove</li>
<li>visibility <%= d.visa %></li></ul>
</div>
<!--<img src="/images/kuku.png" /> -->
<% if(d.images){%>

<div class="foto-cont">
<img src="<%= d.images[0].src %>"/></div><%}else{%><div class="foto-cont"><img src="/images/kuku.png" /></div><%}%>
<div class="art-info">

<div class="time-service"><b><%= bube[i] %></b></div>
<div class="time-service"><b>comments 1</b></div>
<div class="time-service"><b>23 Shares</b></div>

<h5><a href="/articles/<%= d._id %>/<%= d.title %>"><%=: d.postname | truncate:44 %></a></h5>
<p><%=: d.shorti | truncate:44 %></p>
<div class="tags">
<% for(var s=0;s<d.meta.length;s++){%><b> <%= d.meta[s] %>  </b><%}%></div> 
</div>
<div class='art-pop'><p>Photos: <% if(d.images){%>
<%= d.images.length %> <%}%></p>
<p>Noch bla bla bla.</p>
</div>
</div><%});}%>

