<!-- adminarticles.html -->

<a href="#x" class="overlay" id="popredaktor"></a>
<div class="popup" id="poredactor">
<b>Redaktor</b></br><span id="outinfo" style="background:green;"></span></br>

<form name="post" method="post" enctype="multipart/form-data">
<% if(user && user.role == "admin"){ %><input type="submit" value="save"></br><%}%>
<span><b>Postname: </b></span></br>
<input type="text" name="postname" required placeholder="postname" value="" style="width:400px;"></br>
<b>Title: </b></br>
<input type="text" name="title" required placeholder="title" value=""></br>
<b>Visa - visability(0,1,2 - nur mir,all,2): </b></br>
<input type="text" name="visa" required placeholder="visa" value=""></br>

<b>shorti - ein KurzAnonce(3-4 Worte): </b></br>
<input type="text" name="shorti" required placeholder="shorti - kurzAnonce" value=""></br>
<b>Autor: </b></br>
<input type="text" name="autor" required placeholder="autor" value=""></br>
<b>Created: </b></br>
<input type="text" name="created" required placeholder="created" value=""></br>
<b>dataformat: </b></br>
<input type="text" name="dataformat" required placeholder="dataformat" value=""></br>
<b>Redaktiert: </b></br>
<input type="text" name="redaktiert" required placeholder="redaktiert" value=""></br>
<b>Some caption: </b></br>
<textarea name="caption" required placeholder="caption" value="Some caption" required style="width:400px;height:60px;"></textarea></br>
<b>Maincontent :</b></br>
<textarea name="maincontent" style="width:400px;height:200px;" required placeholder="maincontent"></textarea></br>
<b>meta - metatags: </b></br>
<input type="text" name="meta" value="" placeholder="meta tags"></br>
<b>category -(webdesign): </b></br>
<input type="text" name="category" value="" required placeholder="category - WebDesign"></br>
<b>rubrik - css3: </b></br>
<input type="text" name="rubrik" value="" required placeholder="rubrik - css3"></br>
<b>serial: </b></br>
<input type="text" name="serial" value="" placeholder="serial - 1?"></br>
<b>id: </b></br>
<input type="text" name="id" value="" required placeholder="id"></br>
<% if(user && user.role == "admin"){ %><input type="submit" value="save"></br><%}else{%><b>You ar not admin)</b></br><%}%>
</form>

</div>

<script>
var y;
function removePost(el){
var x;

if(confirm("Delete this post? Press a button!")==true){
x="About deleting the post "+el.getAttribute('data-id');
//alert(el.getAttribute('data-id'));
//alert(el.parentNode.parentNode.parentNode.innerHTML)


var xhr=new XMLHttpRequest();
    xhr.open('GET','/deletePost/'+el.getAttribute('data-id'));
	xhr.onload=function(e){
  if(this.status == 200){
  x=this.responseText;
  //alert(this.responseText);
  el.parentNode.parentNode.parentNode.remove();
  }}
  xhr.onerror=function(e){alert("fuck" +e.status);}
  xhr.send();
  
}
else{x="You pressed Cancel!";}
demo.innerHTML=x;
}
outinfo.innerHTML='';
function redaktorHref(el){
//alert('ok');
//alert(el.getAttribute('data-id'));
outinfo.innerHTML='connecting database...';
var x=el.getAttribute('data-id');
y=x;
var xhr=new XMLHttpRequest();
    xhr.open('GET','/takePost/'+x);
	xhr.onload=function(e){
  if(this.status == 200){
  outinfo.innerHTML='';
  var data=JSON.parse(this.responseText);
  //textredactor.value=data.data;
  var d=document.forms.namedItem("post");
  d.postname.value=data.postname;
  d.title.value=data.title;
  d.visa.value=data.visa;
  d.shorti.value=data.shorti;
  d.autor.value=data.autor; 
  d.created.value=data.created;
d.dataformat.value=data.dataformat;  
  d.redaktiert.value=data.redaktiert;
  d.caption.value=data.caption;
  d.maincontent.value=data.maincontent;
  d.meta.value=data.meta;
  d.category.value=data.category;
  d.rubrik.value=data.rubrik; 
  d.serial.value=data.serial;
  d.id.value=x;
  }}
xhr.onerror=function(e){alert("fuck" +e.status);
outinfo.innerHTML=e.status +' : '+JSON.parse(this.responseText).err;}
xhr.send();
}
/***
function savePost(el){
//alert('about saving the post '+y);
demo.innerHTML='about saving the post '+y;
var xhr=new XMLHttpRequest();
    xhr.open('GET','/saveRedactPost/');
	xhr.onload=function(e){
  if(this.status == 200){}
  xhr.onerror=function(e){alert("fuck" +e.status);
  xhr.send();
}
***/

var formface=document.forms.namedItem("post");
formface.addEventListener('submit',function(ev){
var data=new FormData(document.forms.namedItem("post"));
var xhr=new XMLHttpRequest();
    xhr.open("post","/saveaneditedpost",true);
	xhr.onload=function(e){
	 if(xhr.status==200){
	 //var data=JSON.parse(this.response);
	 demo.innerHTML=this.response;
	 }
	 else{demo.innerHTML=this.response;
	 }}
	 xhr.send(data);
	 ev.preventDefault();},false);
</script>