<!-- includes/aside.html -->

<section class="widget">
			<h4 class="widgettitle">Sidebar</h4>
			<ul>
				<li><a href="#">Koa</a> (3)</li>
				<li><a href="#">Design</a> (23)</li>
				<li><a href="#">Nodejs </a>(18)</li>
			</ul>
		</section>
		<!-- /.widget -->
<!--
		<section class="widget clearfix">
			<h4 class="widgettitle">html5 import</h4> 
			<div id="container-as" class="warning"></div>
			<script>
			function addimportlink(url){
var link=document.createElement('link');
link.rel='import';
link.href=url;
link.onload=function(e){
var post=this.import.querySelector('#warning');
var container=document.querySelector('#container-as');
container.appendChild(post.cloneNode(true));
};
link.onerror=function(e){alert("Error loading: "+e.target.href);};
document.head.appendChild(link);
}
addimportlink('../insert.html');//from view field
//from /public - './insert.html'
</script>
		</section>
		-->
		<!-- /.widget -->

 <section class="widget">
<h4>some widget</h4><ul>
				<li><a href="#">Koa</a> (3)</li>
				<li><a href="#">Design</a> (23)</li>
				<li><a href="#">Nodejs </a>(18)</li>
			</ul></section>