<!-- includes/aside.html -->

<section class="widget">
			<h4 class="widgettitle">Sidebar</h4>
			<ul>
				<li><a href="#">Koa</a> (3)</li>
				<li><a href="#">Design</a> (23)</li>
				<li><a href="#">Nodejs </a>(18)</li>
			</ul>
		</section>
		<!-- /.widget -->

		<section class="widget clearfix">
			<h4 class="widgettitle">Huickr</h4>
			<b>some script</b> 
		</section>
		<!-- /.widget -->

 <section class="widget">
<h4>some widget</h4><ul>
				<li><a href="#">Koa</a> (3)</li>
				<li><a href="#">Design</a> (23)</li>
				<li><a href="#">Nodejs </a>(18)</li>
			</ul></section>