<!-- includes/head.html -->
<meta charset="utf-8">
<!-- disable iPhone inital scale -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Simple blog-site on koa.js">
<meta name="author" content="likon on heroku.com">
 <link rel="shortcut icon" type="image/ico" href="http://frontender.info/favicon.ico">
<!--
<link rel="shortcut icon" type="image/ico" href="/images/sprite-sheets-14.png">
-->

<link href="/css/main2.css" rel="stylesheet" type="text/css">
<script async>
//var out3=document.getElementById('out3');
function handleLoad(e){
//out3.innerHTML='Loaded import: '+e.target.href;
console.log("Loades import: "+e.target.href);}
function handleError(e){
//out3.innerHTML='Error loading import: '+e.target.href;
console.log("Error loading import: "+e.target.href);
}
</script>
<!--<link rel="import" href="/insert.html" onload="handleLoad(event)" onerror="handleError(event)"> -->

<!-- media queries css 
<link href="media-queries.css" rel="stylesheet" type="text/css"> -->

<!-- html5.js for IE less than 9 -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- css3-mediaqueries.js for IE less than 9 -->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<script>
var Detect=(function(){
var props="flex,flexWrap,justifyContent".split(","),
CSSprefix="Webkit,Moz,O,ms,Khtml".split(","),
d=document.createElement("detect"),
test=[],p,pty;
function testprefixes(prop){
var Uprop=prop.charAt(0).toUpperCase()+prop.substr(1),
All=(prop+' '+CSSprefix.join(Uprop+' ')+Uprop).split(' ');
for(var n=0,np=All.length;n<np;n++){
if(d.style[All[n]]==="")return true;}return false;}
for(p in props){pty=props[p];test[pty]=testprefixes(pty);}return test;
}());
</script>