<%- version %>
<% if(user){%><b>Hallo Admin!</b><h3><%= user.username %></h3> <%}%>
  <h1>App</h1>
  <a href="/">home</a>
  </br><a href="/insert2">insert2</a>
  <p>You are authenticated ... <a href="/logout">logout</a></p>
  
  
  <form id="fd" name="fd" method="post" enctype="multipart/form-data">
  <input type="text" name="ident" placeholder="nickname" required value="q"/></br>
  ff6a4897-e05c-4a19-9d2d-f555857a024a</br>
  <input type="text" name="secret" placeholder="your secret" required value="1"/></br>
  <input type="text" name="domain" placeholder="alikon.herokuapp.com" value="ww"/></br>
  <input type="submit" value="submit"/>
  
  </form>
  </br>
  <span id="out"></span>
  
  <script>
     var formface=document.forms.namedItem("fd");
  //alert(document.forms.namedItem("fileinfo").username.value);
  //alert(form.username.value);
  
  
formface.addEventListener('submit',function(ev){
var odata=new FormData(document.forms.namedItem("fd"));
//odata.append("custom field","this is some extra data");
//alert(documents.form.fileinfo);
//var suserpassw=form.password.value;
//var title=form.title.value;
var xhr=new XMLHttpRequest();
//var params='username='+encodeURIComponent(suser)+'&password='+encodeURIComponent(suserpassw);
     xhr.open("post","/gamma",true);
	 //xhr.setRequestHeader('Content-Type','multipart/form-data');
	 
	 xhr.onload=function(e){
	 if(xhr.status==200){
	 var data=JSON.parse(this.response);
	 out.innerHTML=this.response;
	 }
	 else{out.innerHTML=this.response;
	 }}
	 xhr.send(odata);
	 ev.preventDefault();},false);
  
  </script>  
  </br>
<button onclick="uiTestWebRTC()">test ui ajax to STUN</button>  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
            //$(document).ready(function() {
			function uiTestWebRTC(){
                $.post("https://api.xirsys.com/getIceServers", {
                    ident: "rony",
                    secret: "ff6a4897-e05c-4a19-9d2d-f555857a024a",
                    domain: "globibot.herokuapp.com",
                    application: "default",
                    room: "default",
                    secure: 1
                },
                function(data, status) {
                    alert("Data: " + data + "nnStatus: " + status);
                    console.log("Data: " + data + "nnStatus: " + status);
                }); }
            //});
    </script>    