<div class="daper">
<div class="fluiditems">
<%- version %>
<% if(user){%><b>Hallo Admin!</b><h3><%= user.username %></h3> <%}%>
  <h1>App</h1>
  <a href="/">home</a>
  </br><a href="/insert2">insert2</a>
  <p>You are authenticated ... <a href="/logout">logout</a></p>
  </div>
  <div class="fluiditems">
  <form id="fd" name="fd" method="post" enctype="multipart/form-data">
  <input type="text" name="ident" placeholder="nickname" required value="q"/></br>
  ff6a4897-e05c-4a19-9d2d-f555857a024a</br>
  <input type="text" name="secret" placeholder="your secret" required value="1"/></br>
  <input type="text" name="domain" placeholder="alikon.herokuapp.com" value="ww"/></br>
  <input type="submit" value="submit"/>
  
  </form>
  </div>
  <div class="fluiditems">
  </br>Out:
  <span id="out"></span>
  </div>
  <script>
     var formface=document.forms.namedItem("fd");
  //alert(document.forms.namedItem("fileinfo").username.value);
  //alert(form.username.value);
  
  
formface.addEventListener('submit',function(ev){
var odata=new FormData(document.forms.namedItem("fd"));
//odata.append("custom field","this is some extra data");
//alert(documents.form.fileinfo);
//var suserpassw=form.password.value;
//var title=form.title.value;
var xhr=new XMLHttpRequest();
//var params='username='+encodeURIComponent(suser)+'&password='+encodeURIComponent(suserpassw);
     xhr.open("post","/gamma",true);
	 //xhr.setRequestHeader('Content-Type','multipart/form-data');
	 
	 xhr.onload=function(e){
	 if(xhr.status==200){
	 var data=JSON.parse(this.response);
	 out.innerHTML=this.response;
	 }
	 else{out.innerHTML=this.response;
	 }}
	 xhr.send(odata);
	 ev.preventDefault();},false);
  
  </script>  
  </br>
<button onclick="uiTestWebRTC()" style="height:40px;">test ui ajax to STUN</button>  

<script>
            //$(document).ready(function() {
			function uiTestWebRTC(){
			/***
                $.post("https://api.xirsys.com/getIceServers", {
                    ident: "rony",
                    secret: "ff6a4897-e05c-4a19-9d2d-f555857a024a",
                    domain: "globibot.herokuapp.com",
                    application: "default",
                    room: "default",
                    secure: 1
                },
                function(data, status) {
                    alert("Data: " + data + "nnStatus: " + status);
                    console.log("Data: " + data + "nnStatus: " + status);
                }); ***/
				/***
				var xhr=new XMLHttpRequest();

     xhr.open("POST","https://api.xirsys.com/getIceServers",true);
	xhr.setRequestHeader("Content-Type","application/json","utf-8");
	 //xhr.setRequestHeader("Content-Type","text/plain");
	 //xhr.setRequestHeader("Content-Type","multipart/form-data");
	 xhr.onload=function(e){
	 if(xhr.status==200){
	 var data=JSON.parse(this.response);
	 out.innerHTML=this.response;
	 }
	 else{out.innerHTML=this.response;
	 }}
	 
	 var form=new FormData();
	 form.append("ident","rony");
	 form.append("secret","ff6a4897-e05c-4a19-9d2d-f555857a024a");
	 form.append("domain","alikon.herokuapp.com");
	 form.append("application","default");
	 form.append("room","default");
	 form.append("secure",1);
	 
				var form1={ident: "rony",
secret: "ff6a4897-e05c-4a19-9d2d-f555857a024a",
domain: "globibot.herokuapp.com",
application: "default",
room: "default",
secure: 1};
				//var ops=JSON.stringify(ops.form);
	 //xhr.send(form1);
	 xhr.send({"ident": "rony",
"secret": "ff6a4897-e05c-4a19-9d2d-f555857a024a",
"domain": "globibot.herokuapp.com",
"application": "default",
"room": "default",
"secure": 1})***/
var ident="rony";
var secret="ff6a4897-e05c-4a19-9d2d-f555857a024a";
var domain="alikon.herokuapp.com";
var application="default";
var room="default";
var secure=1;

var xhr=new XMLHttpRequest();
    xhr.open("POST","https://api.xirsys.com/getIceServers",true);//getIceServers
	var params='ident='+encodeURIComponent(ident)+'&secret='+encodeURIComponent(secret)
	+'&domain='+encodeURIComponent(domain)+
	'&application='+encodeURIComponent(application)+
	'&room='+encodeURIComponent(room)+
	'&secure='+encodeURIComponent(secure);
	 xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
	 
	 xhr.onload=function(e,data,status){
	 if(this.status==200){
	 var data=JSON.parse(this.response);
	 out.innerHTML=data.d.iceServers[0].url+' :::'+this.response;
	 }
	 else{out.innerHTML=this.response;
	 }}
	 xhr.send(params);
				}
				
            //});
    </script>
<div class="flu">	
<h4>Users manager</h4>
<a href="/app/adduser">adduser</a>
<h4>System files</h4>
<a href="/app/files">File manager</a></br>	
<h4><a href="/app/modules">Modules</a></h4>
<h4>
<a href="/app/agenda">agenda</a>
</h4>
<h4>
<a href='/app/articlesmanager'>Articles Manager</a></h4>

<h4><a href='/app/filesuploader'>Multi Pics Uploader</a></h4>
<h4><a href="/app/filesmanager">Files Manager</a></h4>
</div>

</div>