<!-- articles-manager.html -->
<style>
textarea[name=caption] {height:200px,width:400px;}
input[type=text]{width:400px;}
.img-li{background:lightblue;}
.img-li > li:nth-child(4n+3){background:#F26663;}
.img-li > li:nth-child(4n+1){background:lightgreen;}
</style>
<div class="daper">

<% if(posts){%><b>Total articles : </b><%= posts.length %><%}%>
<h3>Articles Manager</h3>
<% if(posts){posts.forEach(function(p){%>

<span data-id="<%= p._id %>" onclick="insertDataIda(this);" ><%= p.postname %></span></br>
<%})}%>
<p> Create one:</p>
<form name="postCreating" method="post" enctype="multipart/form-data">
<label><b>Name of post:</b></label></br>
<input type="text" name="postname" required placeholder="postname" value="How to install Linux on Windows7" 
style="width:400px;"></br>
<!--
<input type="text" name="title" required placeholder="title" value="" style="width:400px;"> -->
<label><b>Short info for cover:</b></label></br>
<input type="text" name="shorti" required placeholder="shorti" value="Ein kurzer Anonce in drei-vier Worte"></br>
<label><b>Autor:</b></label></br>
<input type="text" name="autor" required placeholder="autor" value="<%= user.username %>"></br>
<label><b>Long info at begining of article:</b></label></br>
<textarea name="caption" required placeholder="caption" value="Some caption" required style="width:400px;height:60px;">captions</textarea></br>
<label><b>Main content:</b></label></br>
<textarea name="maincontent" style="width:400px;height:200px;" required placeholder="maincontent" 
>maincontent</textarea></br>
<label><b>Tags:</b></label></br>
<input type="text" name="meta" value="js,css"></br>
<label><b>Category:</b></label></br>
<input type="text" name="category" value="webdesign" required placeholder="category"></br>
<label><b>Rubrik:</b></label></br>
<input type="text" name="rubrik" value="css3" required placeholder="rubrik"></br>
<label><b>Serial:</b></label></br>
<input type="text" name="serial" value="1" placeholder="serial"></br>
<input type="submit" value="save"></br>
</form>
<br>
<style>

#fotkis{
display:flex;
flex-flow: row wrap;
justify-content: space-around;
width:100%;
background:lightblue;
}
figure{border:1px solid green;width:15em;}
span{font-size:0.8em;line-height:0.01em;}
.img-cont{width:100%;height:10em;overflow:hidden;}
img{width:100%;}
</style>
<span id="out"></span>
<h2>Fotos</h2>
<button onclick="getFolders()">Get Folders</button>
<div>
<ul id="directories" style="list-style:none;display:inline;">
</ul>
</br><button onclick="addpicsar()">send pics to db</button>
<div id="fotkis">
</div>
</div>

<script>
var datId;
var directories=document.getElementById('directories');
var fotkis=document.getElementById('fotkis');
function getFolders(){
var data={};
data.directory="getsomefotos";
var xhr=new XMLHttpRequest();
	xhr.open('post','/getdirectory');
	xhr.setRequestHeader('Content-Type','application/json','utf-8');
	xhr.onload=function(e){
	 if(xhr.status==200){
	 var docs=JSON.parse(this.response);
	 out.innerHTML=this.response;
	 
	 for(var i=0;i<docs.folders.length;i++){
	 if(!directories.childNodes[i+1]){

	 var li=document.createElement('li');
	 var doc=docs.folders[i];
	 li.innerHTML='<button onclick="showFots(this)" value='+doc+'>'+doc+'</button>';
	 directories.appendChild(li);}}
	 }
	 else{out.innerHTML=this.response;
	 }}
	 xhr.send(JSON.stringify(data));
}
function showFots(el){
//alert('now show u some folders in this derictory '+el.value);
var fl=0;
var data={};
data.foldername=el.value;
var xhr=new XMLHttpRequest();
	xhr.open('post','/showfolder');
	xhr.setRequestHeader('Content-Type','application/json','utf-8');
	xhr.onload=function(e){
	 if(xhr.status==200){
	 var docs=JSON.parse(this.response);
	 out.innerHTML=this.response;
	 if(fotkis.hasChildNodes()){
while(fotkis.hasChildNodes()){
fotkis.removeChild(fotkis.firstChild);
}}
	 for(var i=0;i < docs.fotkis.length;i++){
	 
	 var doc=docs.fotkis[i];
	 var div=document.createElement('figure');
	 var fold=el.value;
	 div.className='pig';
	 
	 div.innerHTML='<caption>'+[i+1]+'<p class="capitan"></p></caption>'+
	 '<div class="img-cont"><img src="/images/upload/'+fold+'/'+doc+'"></div>'+
	   '<figcaption>'+
	 '<span class="p-descr" contenteditable=true>Description</span></br>'+
	 '<span class="p-title" contenteditable=true>Title</span></br>'+
	 '<span class="p-src" contenteditable=true>/images/upload/'+fold+'/'+doc+'</span>'+
	 '</figcaption>'
	 fotkis.appendChild(div);
	 }
	 doit();
}
	 }
	 
	 
	 
	 xhr.send(JSON.stringify(data));
	 
}

function doit(){
var cols_=document.querySelectorAll('.pig');
var dragSrcEl_ = null;
handleDragStart = function(e) {
    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.setData('text/html', this.innerHTML);
	dragSrcEl_ = this;
};
handleDragOver = function(e) {
    if (e.preventDefault) {
      e.preventDefault(); 
    }
e.dataTransfer.dropEffect = 'move';
return false;
  };
handleDrop = function(e) {

    if (e.stopPropagation) {
      e.stopPropagation();
    }
    if (dragSrcEl_ != this) {
      dragSrcEl_.innerHTML = this.innerHTML;
      this.innerHTML = e.dataTransfer.getData('text/html');
    }
return false;
  };
  handleDragEnd = function(e) {
    [].forEach.call(cols_, function (col) {
    });
	out.innerHTML='dragEnd';
  };

 [].forEach.call(cols_, function (col) {
    col.setAttribute('draggable', 'true');  // Enable columns to be draggable.
    col.addEventListener('dragstart', handleDragStart, false);
    //col.addEventListener('dragenter', this.handleDragEnter, false);
    col.addEventListener('dragover', handleDragOver, false);
    //col.addEventListener('dragleave', this.handleDragLeave, false);
    col.addEventListener('drop', handleDrop, false);
    col.addEventListener('dragend', handleDragEnd, false);
  });
}


function addpicsar(){
var pTitle=document.querySelectorAll('.p-title');
var pSrc=document.querySelectorAll('.p-src');
var pDescr=document.querySelectorAll('.p-descr');
	var data={};
	data.images=[];
	data.bi=dataId;//"345";
	alert(dataId);
	if(dataId !==undefined){
	for(var k=0;k<pTitle.length;k++){
	//data.images=imgText[k].value;
	
	data.images.push({title:pTitle[k].innerHTML,content:pDescr[k].innerHTML,src:pSrc[k].innerHTML});
	//alert(imgText[k].value);
	}
	alert(JSON.stringify(data));
	
	var xhr=new XMLHttpRequest();
	xhr.open('post','/picstopost');
	xhr.setRequestHeader('Content-Type','application/json','utf-8');
	xhr.onload=function(e){
	 if(xhr.status==200){
	 //var data=JSON.parse(this.response);
	 out.innerHTML=this.response;
	 }
	 else{out.innerHTML=this.response;
	 }}
	 //data._id="123456";
	 //xhr.send(JSON.stringify(data.images));
	 xhr.send(JSON.stringify(data));}else{alert('datid not fullfilled');}
	 }
	 


function insertDataIda(ev){
	dataId=ev.getAttribute('data-id');
	alert(ev.getAttribute('data-id'));
	var infotag=document.querySelectorAll('.capitan')
	for(var i=0;i<infotag.length;i++){
	infotag[i].innerHTML='<small>'+ev.innerHTML+'</small>';}
	}
</script>
<ul class="img-li">
<% if(fotos) fotos.forEach(function(it,k){%>
<li onclick="" class=""><%= fotos[k] %></br>
</br><span class="infotag"></span></br>
<textarea class="img-text" value="">Description of a Foto <%=[k+1]%></textarea>
</br><input class="img-title" type="text" value="title <%=[k+1]%>"/>
</br><input class="img-src" type="text" value="/images/uploads/<%=fotos[k]%>"/>
<button data-src="/images/uploads/<%= fotos[k] %>" onclick="changeSrc(this)">change src</button>
</li><%})%><button onclick="addpics()">add all to post</button>
</ul>
</br>

</br>
<form action="/addingfotos" method="post"  name="fotki" enctype="multipart/form-data">
<input type="text" name="username" value="roni"></br>
<input type="text" name="username" value="popikov"></br> 
<input type="text" name="nochwas" value="kuku-1"></br>  
<input type="file" name="file" multiple onchange='thumb(this.files)' multiple="multiple" accept="*/*">
<input type="submit" value="Davaj">
</form>
</br>
<progress min="0" max="100" value="0">0% complete</progress>
<span id=out2></span>
<script>
var dataId;
var imgText=document.querySelectorAll('.img-text');
var imgTitle=document.querySelectorAll('.img-title');
var imgSrc=document.querySelectorAll('.img-src');
	// alert(cals.innerHTML);
var formface=document.forms.namedItem("postCreating");
formface.addEventListener('submit',function(ev){
var data=new FormData(document.forms.namedItem("postCreating"));
var xhr=new XMLHttpRequest();
    xhr.open("post","/createpost",true);
	xhr.onload=function(e){
	 if(xhr.status==200){
	 //var data=JSON.parse(this.response);
	 out.innerHTML=this.response;
	 }
	 else{out.innerHTML=this.response;
	 }}
	 xhr.send(data);
	 ev.preventDefault();},false);
	 
	function addpics(){
	var data={};
	data.images=[];
	data.bi=dataId;//"345";
	alert(dataId);
	for(var k=0;k<imgText.length;k++){
	//data.images=imgText[k].value;
	var s;
	data.images.push({title:imgTitle[k].value,content:imgText[k].value,src:imgSrc[k].value});
	//alert(imgText[k].value);
	}
	alert(JSON.stringify(data.images));
	
	var xhr=new XMLHttpRequest();
	xhr.open('post','/picstopost');
	xhr.setRequestHeader('Content-Type','application/json','utf-8');
	xhr.onload=function(e){
	 if(xhr.status==200){
	 //var data=JSON.parse(this.response);
	 out.innerHTML=this.response;
	 }
	 else{out.innerHTML=this.response;
	 }}
	 //data._id="123456";
	 //xhr.send(JSON.stringify(data.images));
	 xhr.send(JSON.stringify(data));
	 }
	 
	function changeSrc(ev){
	if(typeof dataId !== 'undefined'){
	alert(dataId+ 'src id '+ev.previousElementSibling.value+' : '+ev.getAttribute('data-src'));
	} else{alert('press the span of data src!');}
	var data={};
	data.id=dataId;
	/***
	var xhr=new XMLHttpRequest();
	xhr.open('post','/changesrc');
	xhr.setRequestHeader('Content-Type','application/json','utf-8');
	xhr.onload=function(e){
	 if(xhr.status==200){
	 //var data=JSON.parse(this.response);
	 out.innerHTML=this.response;
	 }
	 else{out.innerHTML=this.response;
	 }}
	 xhr.send(JSON.stringify(data));
	 ***/
	}
	function insertDataId(ev){
	dataId=ev.getAttribute('data-id');
	alert(ev.getAttribute('data-id'));
	var infotag=document.querySelectorAll('.infotag')
	for(var i=0;i<infotag.length;i++){
	infotag[i].innerHTML='<small>'+ev.innerHTML+'</small>';}
	}
	
	var formface=document.forms.namedItem("fotki");
formface.addEventListener('submit',function(ev){
var data=new FormData(document.forms.namedItem("fotki"));
//data.append("number","two");
var xhr=new XMLHttpRequest();
    xhr.open("post","/addingfotos",true);
	xhr.onload=function(e){
	 if(xhr.status==200){
	 var sata=JSON.parse(this.response);
	 out.innerHTML=this.response;
	 out2.innerHTML=sata.filenames.files[0].src;
	 var img=document.createElement('img');
	 img.src='/kuku/'+sata.filenames.files[0].name;
	 img.style.width="300px";
	 img.style.height="auto";
	 document.body.appendChild(img);
	 if(sata.inf=="OK"){formface.file.value='';}
	 }
	 else{out.innerHTML=this.response+this.status;
	 }}
	 xhr.onerror=function(e){//alert(e.status)
	 }
	 data.append("number","two");
	 var progressbar=document.querySelector('progress');
	 
	 xhr.upload.onprogress=function(e){
	 if(e.lengthComputable){
	 progressbar.value=(e.loaded/e.total)*100;
	 
	 }
	 }
	 //xhr.onabort=function(e){alert(e.status)}
	 xhr.send(data);
	 ev.preventDefault();},false);
</script>
