<!-- code_blog_an_article_view.html -->
<!-- public -->
<div class="codrops-header" style="z-index:1;">
<!-- <script><%- l.somefunc %></script> -->
<style>
table{border-collapse:collapse;}
table,td,th{border:1px solid black;}
th{background:green;color:white;width:50px;}
th:after{width:200px;background:red;}

caption{caption-side:bottom;}
</style>
<% if(l.post){%>
<h1><%= l.post.title %><span><%= l.post.teaser %></span></h1><%}%>

<nav class="codrops-demos">

<table id="puzo">
<caption>c</caption>
<tr>
<th class="">fb</th>
<th><small id="fb-shares">0</small></th>
<th>vk</th>
<th><small><%if(l.post){%><%=(l.post.fb_data ? l.post.fb_data.shares : "")%><%}%></small></th>
<th>g+</th>
<th><small>0</small></th></tr>
</table>
</nav>	
</div>
<main class="daper" itemscope itemtype="http://schema.org/Blog" >
<meta itemprop="name" content="CodeBlogs Atariku"/>
<meta itemprop="description" content="CodeBlogs Atariku" />
<style>
pre{
color:#C6DAC6 /*black*/;
background: #0C0638 /*gray*/;
white-space:pre\9;
white-space:-moz-pre-wrap;
white-space:-pre-wrap !important;
white-space:-o-pre-wrap;
white-space:pre-wrap;
word-break:break-all;
word-break:keep-all;
word-wrap:break-word;
overflow-x:auto;
padding:20px;
}

 .reklamabox{background:lightblue;width:100%;}
.green{color:lightgreen;}
.yellow{color:yellow;}
.brown{color:brown;}
.orange{color:orange;}
.violet{color:violet;}
.attribute{color:green;}
.constructor{color:green;}
.red{color:red;}
textarea{width:90%;height:300px;}

.blue{color:#62DAC5/*blue*/;}
.figskobki{color:#DC6C3F/*red*/;}
.comments{color:orange;}
.zifra{color:#61BFB3/*lightgreen*/;}
.constructor{color:green;}
.attribute{color:#EF6C6C/*brown*/;}
.kavichki{color:#8250D4/*yellow*/;}
.dbquot{color:/*#58F158*/darkgreen;}
.one-fit{color:#0CF78C/*violet*/;}

.precoded-container::-webkit-scrollbar{background:#0C0638;}
.precoded-container{scrollbar-base-color:#0C0638;
scrollbar-track-color:#0C0238;}
.precoded-container{height:400px;
-webkit-overflow:touch;
overflow:touch;
overflow:auto;background: #0C0638;
width:70%;padding:0;
-webkit-animation: 0.1s hack infinite;
@-webkit-keyframes hack{
from{margin:0;padding:0}
to{margin:0;padding:0;}
}
}
.precoded-css,.precoded-js,.precoded-html{display:none;}

#pre-css:checked ~ .precoded-container .precoded-css, 
#pre-js:checked ~ .precoded-container .precoded-js,
#pre-html:checked ~ .precoded-container .precoded-html{
display:block;
}

#pre-css:checked ~ .precoded-container .precoded-sample,
#pre-js:checked ~ .precoded-container .precoded-sample,
#pre-html:checked ~ .precoded-container .precoded-sample{display:none;}

#pre-css:checked + label,
#pre-js:checked + label,
#pre-html:checked + label,
#pre-sample:checked + label{background:gray;
border:1px solid silver;
background-image:-ms-linear-gradient(rgb(200,200,200),rgb(224,224,224));
background-image:-moz-linear-gradient(rgb(200,200,200),rgb(224,224,224));
background-image:-o-linear-gradient(rgb(200,200,200),rgb(224,224,224));
background-image:linear-gradient(rgb(200,200,200),rgb(224,224,224));}

input[type=radio]{display:none;}
.puc{
display:inline-block;
text-align:center;
font-size:1.25em;
font-weight:700;
background:silver;
background-image:linear-gradient(rgb(240,240,240),rgb(224,224,224));
box-sizing:border-box;
width:4em;
cursor:pointer;
border:1px solid transparent;
}
@media screen and (max-width: 1250px) {
pre{
padding:0px;
font-size:0.9em;
}
.precoded-container{width:100%;}
}
@media screen and (max-width:300px){
.precoded-container{background:inherit;height:auto;}
pre[data-type='precoded_container']{display:block;}
}
/*
 var bels=document.querySelectorAll("pre[data-type='precoded_container']");
var kasha=document.getElementsByClassName('precoded-container')[0];
function machdas(el){
if(confirm("Display this code as a block element? Press a button!")==true){

for(var i=0;i<bels.length;i++){
bels[i].style.display="block";
}
kasha.style.height="auto";
kasha.style.background="inherit";
*/
<% if(l.post){ if(l.post.css_textarea){%> <%=l.post.css_textarea%> <%}}%>
</style>
<article class="code-blog-article" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" >
<% if(l.post){ %>
<h1 class="post-title" itemprop="headline"><%= l.post.title %></h1>

<p><small>Posted in <span style="color:blue;"><%=l.post.rubrika%></span> on <time datetime="-: post.created_on %>" itemprop="datePublished">%-: post.created_on | subtime %></time> by <span itemprop="author"><%= l.post.autor %></span></small></p>
<p><i itemprop="description"><%= l.post.teaser %></i></p>
<!-- <data itemprop="interactionCount" value="UserCheckins:4">1 shares</data>
<meta itemprop="interactionCount" content="UserTweets:0"/>
<meta itemprop="interactionCount" content="UserLikes:0"/>
 <meta itemprop="interactionCount" content="UserPlusOnes:0"/> -->
<!--or alternativeHeadline into h2 -->
<%
var das=post._id.toString().substring(0,8)
var da=new Date(parseInt(das,16)*1000);
%><!-- <li><b>data:</b><%= das %>: da | format %> -->

<div><img itemprop="image" src="/images/kuku.png" alt="labcoding"/></div>
<h3 itemprop="alternativeHeadline">Codes in container. Bla bla</h3>
<section itemprop="articleBody">post.code_blog_textarea | aprecoded %></section>
<hr>
<p><h4>Codes in container.</h4>
<hr>
<input type="radio"  name="precoderadio" id="pre-css" selected="false" >
<label class="puc" for="pre-css" onclick="fuckCSS()">css</label>

<input type="radio"  name="precoderadio" id="pre-js" selected="false">
<label class="puc" for="pre-js" onclick="figJS()">js</label>

<input type="radio"  name="precoderadio" id="pre-html" selected="false">
<label class="puc" for="pre-html" onclick="figHTML()">html</label>

<input type="radio"  name="precoderadio" id="pre-sample" checked="false" selected="false">
<label class="puc" for="pre-sample"><span></span>result</label>

<label class="puc" style="" onclick="machdas(this)">?</label>
<section class="precoded-container" itemscope itemtype="http://schema.org/SoftwareSourceCode"
title="">
<% if(l.post.css_textarea){%>
<meta itemprop="name" content="rec func to show file's tree to - article title"/>
<meta itemprop="codeSampleType" content="inline"/>

<pre class="precoded-css" data-type="precoded_container" itemprop="programmingLanguage" 
content="css"><%= l.post.css_textarea%></pre>
<%}%>
<% if(l.post.js_textarea){%>
<pre class="precoded-js"  data-type="precoded_container" itemprop="programmingLanguage" 
content="javascript"><%= l.post.js_textarea%></pre>
<%}%><% if(l.post.html_textarea){%>
<%
%>
<pre class="precoded-html" data-type="precoded_container" itemprop="programmingLanguage"
 content="html"><%=l.post.html_textarea %></pre>
<div class="precoded-sample" data-type="precoded_container"><%- l.post.html_textarea%> </div>
<%}%>
</section>
</p>

<%-(l.post.js_textarea ? `<script>${l.post.js_textarea}</script>` :"fuck_no_script" )%>
<li><a onclick="edit_an_blog_code_article(this)" data-id="<%= l.post._id %>" href="#popredaktor_code_blog">edit</a></li>
<%}%>

<script>
var mql=window.matchMedia("(max-width:300px)");
mql.addListener(gugudas);
gugudas(mql);
function gugudas(mql){
if(mql.matches){
fuckCSS();figJS();figHTML();}}
if(window.innerWidth < 300){fuckCSS();figJS();figHTML();}
var bels=document.querySelectorAll("pre[data-type='precoded_container']");
var kasha=document.getElementsByClassName('precoded-container')[0];

var isOperaMini = (navigator.userAgent.indexOf('Opera Mini')>-1);
if(isOperaMini){machdas(this);}
function machdas(el){
for(var i=0;i<bels.length;i++){
bels[i].style.display="block";
}
kasha.style.height="auto";
kasha.style.background="inherit";
el.textContent="X";
el.style.color="red";
el.style.border="1px solid red";
el.onclick=null;
fuckCSS();figJS();figHTML();
}
//machdas();
function fuckCSS(){
var prcss=document.getElementsByClassName("precoded-css")[0];
var eda=prcss.textContent;
prcss.innerHTML=css_pretty(eda);
}
function figJS(){
var prjs=document.getElementsByClassName("precoded-js")[0];
var eda=prjs.textContent;
prjs.innerHTML=js_pretty(esc_html(eda))
}
function figHTML(){
var prhtml=document.getElementsByClassName("precoded-html")[0];
var eda=prhtml.textContent;
prhtml.innerHTML=html_pretty(esc2_html(eda))
}
var elJs=document.getElementsByClassName('pre-code-js');
for(var i=0;i<elJs.length;i++){
var sr=elJs[i].textContent;
elJs[i].innerHTML=js_pretty(esc_html(sr));
}
var elCss=document.getElementsByClassName('pre-code-css');
for(var i=0;i<elCss.length;i++){
var sr1=elCss[i].textContent;
elCss[i].innerHTML=css_pretty(sr1);
}
var elHtml=document.getElementsByClassName('pre-code-html');
for(var i=0;i<elHtml.length;i++){
var sr2=elHtml[i].textContent;
elHtml[i].innerHTML=html_pretty(esc2_html(sr2));
}
function css_pretty(n){
 return n.replace(/(\/\*[\s\S]*?\*\/)/gm,'<span class="orange">$1</span>')
.replace(/(\.[\w\-_]+)/g,'<span class="yellow">$1</span>')
.replace(/(\#[\w\-_]+)/g,'<span class="blue">$1</span>')
.replace(/\b(summary|textarea)\b/g,'<span class="green">$1</span>')
.replace(/(\{|\}|\]|\[|\|)/g,'<span class="figskobki">$1</span>')
.replace(/(:[\w\-_]+)/g,'<span class="brown">$1</span>')
.replace(/(\d+|\.\d+|\d+\.\d*)/g,'<span class="blue">$1</span>');
}
function esc_html(n){return n.replace(/([\'])/g,'&apos;')
.replace(/([\"])/g,'&quot;')
.replace(/(<(.*?)>)/g,function(str,p1,p2,ofs,s){return '&lt;'+p2+'&gt';});
}
function js_pretty(tex){
return tex.replace(/\b(function|var|if|in|of|return)\b/g,'<span class=blue>$1</span>')
.replace(/\b(i|k|l|m)\b/g,'<span class=one-fit>$1</span>')
.replace(/("[^"]*")/g,'<span class=dbqw>$1</span>')
.replace(/(\d+|\.\d+|\d+\.\d*)/g,'<span class=zifra>$1</span>')
.replace(/(\/\/.*|\/\*[^]*?\*\/)/g,'<span class=comments>$1</span>')
.replace(/(\{|\}|\]|\[|\|)/g,'<span class=figskobki>$1</span>')
.replace(/(new)\s+(.*)(?=\()/g,'<span class=constructor><b>$1</b> $2</span>')
.replace(/\.(push|length|getElementById|getElementsByClassName|innerHTML|textContent|querySelector)/g,'<span class=attribute>.$1</span>')
.replace(/(&apos;[\s\S]*?&apos;)/g,'<span class="kavichki">$1</span>')
.replace(/(&quot;[^"]*?&quot;)/g,'<span class="dbquot">$1</span>')
}
function esc2_html(n){
return n.replace(/</g,"&lt;").replace(/>/g,"&gt;");}
function html_pretty(ns){
return ns.replace(/&lt;(\w+)((?:\s+\w+(?:\s*=\s*(?:(?:"[^"]*")|(?:'[^']*')|[^(&gt;)\s]+))?)*)\s*(\/?)&gt;/g,
function(s,p1,p2,p3,ofs){
return '<span class=orange>&lt;</span>'+
'<span class=blue>'+p1+'</span>'+esc_atrs(p2)+'<span class=violet>'+p3+
'</span><span class=orange>></span>';})
.replace(/((&lt;)\/(\w+)(&gt;))/g,'<span class="orange">$2</span>'+
'<span class=violet>/</span><span class=blue>$3</span>'+
'<span class=orange>$4</span>').replace(/\b(disabled)\b/g,'<span class=red>'+
'$1</span>').replace(/(&lt;\!--[\S\s]*?--&gt;)/g,'<span class=green>'+
'$1</span>').replace(/\n/g,'');
}
function esc_atrs(s){return s.replace(/(\w+)="(.*?)"/g,'<span class=brown>$1</span>='+
'<span class=green>"$2"</span>');}
</script> 
</article>
<% if(typeof l.locvar != "undefined" && l.og_plugin==true){%>
<div class="fb-like" data-href="<%=l.locvar.url%>" data-layout="standard" data-action="like" data-show-faces="false" data-share="true">
</div>
<%}%>
<% if(l.post){%>
<ul>
<li><b>Title:</b><%=l.post.title%>
<li><b>Teaser: </b><%=l.post.teaser%>
<li><b>Autor: </b><%=l.post.autor%>
<li><b>Visa: </b><%=l.post.visa%>
<li><b>Type: </b><%=l.post.type%>
<li><b>Rubrika: </b><%=l.post.rubrika%>
<li><b>Tags: </b><%=l.post.tags%>
<li><b>Slugged_title: </b><%=l.post.slugged_title%>
<li><b>Created_on: </b><%=l.post.created_on%>
<li><b>last_modified_on: </b> post.last_modified_on | subtime%>
<li><b>Read more: </b><a href="/labo/<%=l.post._id%>/<%=l.post.slugged_title%>"><%=l.post._id%></a>
<li><b>Created_on2: </b> post.created_on | format %>
<li><b>Кол-во общих просмотров: </b><%=(l.post.gesamt_seen ? l.post.gesamt_seen : "0")%>
<li><b>Кол-во "уникальных" просмотров: </b><span id="unicSeen"><%=l.post.unic_seen%></span>
<li><b>superunic_per_ses: </b><%if(l.post.superunic_per_ses){%><%=l.post.superunic_per_ses.length%><%}%>
<% if(l.user && l.user.role=="admin"){%><li><b>Referers: </b><%=l.post.referer%><%}%>
</ul>
<button onclick="fetchPuzo(this)" value="/labo/<%=l.post._id%>/<%=l.post.slugged_title%>">fetch count via http</button>
<button onclick="fetchPuzo1(this)">share's count</button><br>
<button onclick="syncSocialData(this)" value="<%=l.post._id%>">syncSocialData</button><br>
<br><button onclick="obnuliUnicCodeBlog(this)" value="<%=l.post._id%>">obnuliUnicCodeBlog</button>
<br><button onclick="obnuliUnic()">obnuliUnic in sessDB</button><br>
<% if(l.user && l.user.role == "admin"){%>
<button onclick="remove_code_blog_article(this)" value="<%=l.post._id%>">remove</button>
<%}%>
<%}%>
<a href="#x" class="overlay" id="popredaktor_code_blog"></a>
<div class="popup" id="poredactor_code_blog">
<b>code blog</b><br>
<progress id="progressbar2" min="0" max="100" value="0">0% complete</progress><br>
<output id="output22" style="color:white;"></output>
<form name="edit-code-blog" method="post" enctype="multipart/form-data">
<% if(l.user && l.user.role == "admin"){ %><input type="submit" value="save"></br><%}%>
<span><b>Title: </b></span></br>
<input type="text" name="title" required placeholder="title" value="" style="width:80%;"></br>
<b>Teaser: </b></br>
<input type="text" name="teaser" required placeholder="title" value=""></br>

<label>code_blog_textarea: </label><br>
<textarea name="code_blog_textarea" placeholder="for html text"></textarea><br>

<label>css_textarea:</label><br>
<textarea name="css_textarea"></textarea><br>

<label>js_textarea:</label><br>
<textarea name="js_textarea"></textarea><br>

<label>html_textarea:</label><br>
<textarea name="html_textarea"></textarea><br>

<label>autor:</label><input type="text" name="autor" value=""><br>
<label>visa:</label><input type="text" name="visa" value=""><br>
<label>type:</label><input type="text" name="type" value=""><br>
<label>rubrika:</label><input type="text" name="rubrika" value=""><br>
<label>tags:</label><input type="text" name="tags" value=""><br>
<label>Created_on</label><input type="text" name="created_on" value=""><br>
<label>last_modified_on</label><input type="text" name="last_modified_on" value=""><br>
<label>Slugged_title</label><input type="text" name="slugged_title"><br>
<b>id: </b></br>
<input type="text" name="id" value="" required placeholder="id"></br>
<% if(l.user && l.user.role == "admin"){ %>
<input type="submit" value="save"></br><%}else{%><b>You ar not admin)</b></br><%}%>
</form>
</div>
<script>
//document.addEventListener('mousewheel',function(e){e.preventDefault()},false);
/*document.getElementsByClassName('precoded-container')[0].addEventListener('mousewheel',function(e){
var e=e.wheelDeltaY;
document.body.onmousemove=function(ev){ev.preventDefault()}},false);
*/
/*
document.getElementsByClassName('precoded-container')[0].onmousewheel=function(e){
//var e=e.originalEvent;
var delta=e.wheelDelta || -e.detail;
document.getElementsByClassName('precoded-container')[0].scrollTop +=(delta < 0 ? 1 : -1)*30;
e.preventDefault();
}
*/
var y;
var progressbar=document.getElementById('progressbar2');
function edit_an_blog_code_article(el){

//edit_an_blog_code_article(this)
output22.textContent='connecting database...';
var x=el.getAttribute('data-id');
y=x;
var d=document.forms.namedItem("edit-code-blog");
var xhr=new XMLHttpRequest();
    xhr.open("get","/take_an_blog_code_article/"+x);
	xhr.onload=function(e){
  if(this.status == 200){
  //alert(JSON.parse(this.response).data.title);
  output22.textContent='';
  var data=JSON.parse(this.response).data;
 d.title.value=data.title;
  d.teaser.value=data.teaser;
  d.code_blog_textarea.value=data.code_blog_textarea;
  d.css_textarea.value=data.css_textarea;
  d.js_textarea.value=data.js_textarea;
  d.html_textarea.value=data.html_textarea;
  d.autor.value=data.autor; 
  d.visa.value=data.visa;
  d.type.value=data.type;  
  d.rubrika.value=data.rubrika;
  d.tags.value=data.tags;
  d.created_on.value=data.created_on;
  d.last_modified_on=data.last_modified_on;
 d.slugged_title.value=data.slugged_title;
  d.id.value=x;
  }
  else{output22.textContent=this.response}}
xhr.onerror=function(e){alert("fuck" +e.status);}

	 xhr.onabort=function(e){alert("onabort")}; 
xhr.send();
  }
  var formcodeblog=document.forms.namedItem("edit-code-blog");
formcodeblog.addEventListener("submit",function(ev){
var data=new FormData(document.forms.namedItem("edit-code-blog"));
var xhr=new XMLHttpRequest();
    xhr.open("post","/save_an_edited_blog_code_article/",true);
	xhr.onload=function(e){
	 if(xhr.status==200){
	 //var data=JSON.parse(this.response);
	 output22.textContent=this.response;
	 }
	 else{output22.textContent=this.response;
	 }}
	 xhr.onerror=function(e){alert("fuck" +e.status);}
     xhr.upload.onprogress=function(e){
	 if(e.lengthComputable){
	 progressbar.value=(e.loaded/e.total)*100;}};
	 xhr.onabort=function(e){alert("onabort")}; 
	 xhr.send(data);
	 ev.preventDefault();},false);
	 var bels=document.querySelectorAll("pre[data-type='precoded_container']");
var kasha=document.getElementsByClassName('precoded-container')[0];
/*function machdas(el){
if(confirm("Display this code as a block element? Press a button!")==true){

for(var i=0;i<bels.length;i++){
bels[i].style.display="block";
}
kasha.style.height="auto";
kasha.style.background="inherit";
el.textContent="X";
el.style.color="red";
el.style.border="1px solid red";
el.onclick=null;
kasha.onmousewheel=null;
kasha.title="";
}
}*/
function remove_code_blog_article(el){
if(confirm("Remove this code blog article?")){
var xhr=new XMLHttpRequest();
    xhr.open("get","/remove_code_blog_article/"+el.value);
	xhr.onload=function(e){
  if(this.status == 200){alert(this.response);}else{alert(this.response)}}
  xhr.onerror=function(e){alert(e);}
  xhr.send();
  }
}
function fetchPuzo(el){
var xhr=new XMLHttpRequest();
xhr.open('get','http://api.facebook.com/restserver.php?method=links.getStats&urls=http://alikon.herokuapp.com/labo/5619283058b201580e98c15a/recursion-in-javascript');
xhr.onload=function(e){
if(this.status==200){alert(this.response)}else{alert(this.response)}
}
xhr.onerror=function(e){alert('error ocured')}
xhr.send();}
var gugfb="http://graph.facebook.com/fql?q=SELECT%20like_count%20FROM%20link_stat%20WHERE%20url%20=%20%22http://alikon.herokuapp.com/labo/5619283058b201580e98c15a/recursion-in-javascript%22";
var gugfb1='http://graph.facebook.com/?id=http://alikon.herokuapp.com/labo/5619283058b201580e98c15a/recursion-in-javascript';

function fetchPuzo1(el){
var xhr=new XMLHttpRequest();
xhr.open('get',gugfb1/*'http://graph.facebook.com/?id=http://alikon.herokuapp.com/labo/5619283058b201580e98c15a/recursion-in-javascript'*/);
xhr.onload=function(e){
if(this.status==200){alert(this.response);

}else{alert(this.response)}
}
xhr.onerror=function(e){alert('error ocured')}
xhr.send();}

function get2(){
var xhr=new XMLHttpRequest();
xhr.open('GET','/fake-fb-data.json');
xhr.onload=function(){
if(this.status==200){
document.getElementById('fb-shares').textContent=JSON.parse(this.response).count;
//alert(this.response)
}else{
alert(this.response)}
}
xhr.onerror=function(){alert("no")}
xhr.send();
}
window.onload=get2;
function obnuliUnic(){
var xhr=new XMLHttpRequest();
xhr.open('GET','/obuli_unic');
xhr.onload=function(){
if(this.status==200){
alert(this.response)
}else{alert(this.response)}
}
xhr.onerror=function(){alert('network error')}
xhr.send();
}
function obnuliUnicCodeBlog(el){
var xhr=new XMLHttpRequest();
xhr.open('get','/obuli_unic-codeblog/'+el.value+'/'+new Date().getTime());
xhr.setRequestHeader('Cache-Control','no-cache,no-store');
xhr.onload=function(){
if(this.status==200){
alert(this.response)
unicSeen.textContent=0;
}else{alert(this.response)}
}
xhr.onerror=function(){alert('network error')}
xhr.send();
}
function syncSocialData(el){
alert(el.value)
var xhr=new XMLHttpRequest();
xhr.open('get','/synch_social_data');
xhr.onload=function(e){
if(this.status==200){
alert(this.response);
}else{alert(this.response)}
}
xhr.onerror=function(e){alert('network error');}
xhr.send();}
</script>
</main>