<style>
#huiaper{width:90%;background:lightgray;margin:3em auto;display:block;
padding:2em 2.8em;-webkit-box-sizing:border-box;box-sizing:border-box;word-wrap:break-word;
/*white-space:pre-wrap;*/}
@media screen and (max-width: 650px) {
#huiaper{width:100%;padding:1em 1em;}


}
</style>
<div id='huiaper'>

<div style="padding-top:.2em;margin-top:.2em;">
<caption"><h1 class="post-title">Get paid for nothing!</h1></caption>
2)
version: <%= version %></br> now: <%= now %></br>
server time is: <%=: now | format %></br>
request ip is: <%= ip %>
</div>
<div>3
<% if(message){%>
<b><%= message %></b><%}%>

<% if(user){%><b>Hallo User!</b> <%= user.username %></br>
<a href="/app">app</a><%}%></br>
<a href="/show/tobi">show user tobi</a>
</div>
<div class="">4
  <button onclick="doit(this)">xhr</button>
  <button onclick="addT(this)">get xhr</button></br>
  <span id="out"></span>
</div>
<div class="">5<button onclick="sendSock()">send message via WebSocket</button>
 </div>
<div class="">6
<span id="tout"></span>
</div>
<div class="">7
<span id='tout2'></span>
<select id='level' onchange='shownames(this.value)'>
<option value='admins'>ADMIN</option>
<option value='users'>USER</option>
</select>

</div>
<div class="">8
<span id="tout3"></span>
<span id="tout45"></span>
</div>

</div>

 
  <script>
  function vax(meth,url,data,onLoad,onError){
var xhr=new XMLHttpRequest();
xhr.open(meth,url);
xhr.setRequestHeader("Content-Type","application/json");
xhr.onload=onLoad;
xhr.onerror=onError;
xhr.send(data);
} 

function onLoad(e){
if(this.status==200){
console.log(this.responseText);
alert('ok');
}
}
function onError(e){alert('fuck');}

  function doit(){
  var data={};
  data.mata="Hallo there!";
  var data=JSON.stringify(data);
  //xhr.setRequestHeader("Content-Type","application/json");
  vax('get','/alfa',data,onLoad,onError);
    function onLoad(e){
  var antwort=JSON.parse(this.responseText);
  //out.innerHTML=this.response;
  out.innerHTML=antwort.str;
  }
  }
  
  function addT(event){
  //var data={};
  
  var xhr=new XMLHttpRequest();
  //xhr.setRequestHeader("Content-Type","application/json");
  //var bu=document.forms["todoform"]["task"].value;
  var dn="Pupkin"
xhr.open("GET","/beta/:"+dn,true);
  
  //alert(bu);
  xhr.onload=function(e){
  if(this.status == 200){
  out.innerHTML=this.response || this.responseText;}}
xhr.onerror=function(e){alert("fuck");}
xhr.send();
  }
  /***
  function doform(form){
  var xhr=new XMLHttpRequest();
  var params='username='+encodeURIComponent('Bob')+'&password='+encodeURIComponent('secret');
  xhr.open=("post","/custom2",true);
  xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
  xhr.onload=function(ov){
  if(this.status ==200){prout.innerHTML=this.response;}
  else{prout.innerHTML=this.status;}}
  xhr.send(params);
  return false;
  }
  ***/
  /***
  var forma=document.forms.namedItem("bub");
  forma=addEventListener('submit',function(ev){
  var xhr=new XMLHttpRequest();
  var params='username='+encodeURIComponent('Bob')+'&password='+encodeURIComponent('secret');
  xhr.open=("post","/custom2",true);
  xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
  xhr.onload=function(ov){
  if(this.status ==200){prout.innerHTML=this.response;}
  else{prout.innerHTML=this.status;}}
  xhr.send(params);
  return false;
  ev.preventDefault();
  },false);
  ***/
  
  //var form=document.forms.namedItem("fileinfo");
  //alert(document.forms.namedItem("fileinfo").username.value);
  //alert(form.username.value);
  
 /*** 
form.addEventListener('submit',function(ev){
//odata=new FormData(document.forms.namedItem("fileinfo"));
//odata.append("custom field","this is some extra data");
//alert(documents.form.fileinfo);
var suserpassw=form.password.value;
var suser=form.username.value;
var oreq=new XMLHttpRequest();
var params='username='+encodeURIComponent(suser)+'&password='+encodeURIComponent(suserpassw);
     oreq.open("post","/custom2",true);
	 //oreq.setRequestHeader('Content-Type','multipart/form-data');
	 oreq.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
	 
	 oreq.onload=function(oevent){
	 if(oreq.status==200){
	 var data=JSON.parse(this.response);
	 //out.innerHTML=this.response;
	 out.innerHTML=data.success+" : "+data.redirect;
	 window.location.href=data.redirect;
	 }
	 else{out.innerHTML=oreq.status;}}
	 //oreq.send(odata);
	 oreq.send(params);
	 ev.preventDefault();},false);
  ***/
  </script>
  
  <script>
  //alert('location.hostname :'+location.hostname);//alikon.herokuapp.com
  //alert("location.port :"+location.port);
  var koaws={};
  //var socket=new WebSocket('ws://'+location.hostname+':3000',['soap','jsonrpc-2.0']);
  var socket=new WebSocket('ws://alikon.herokuapp.com',['soap','jsonrpc-2.0']);
  socket.onopen=function(){
  //alert('connected');
  out.innerHTML='Connected!';
  }
  var msg={"jsonrpc":"2.0",method:"hello","params":[41,20],"id":1};
  var msg2={"jsonrpc":"2.0",method:"dolley","params":[41,20],"id":2};
  var data=JSON.stringify(msg);
  var data2=JSON.stringify(msg2);
  function sendSock(){
  //socket.send(data);
  socket.send(data);
  }
  
  socket.onclose=function(ev){
  if(ev.wasClean){
  //alert('clear closed');
  out.innerHTML="Clearly closed!"
  }
  else{
  //alert('obryv conection');
  out.innerHTML="Abrupt connection."
  }
  //alert('code: '+ev.code+'reson :'+ev.data);
  out.innerHTML=2;//"<h1>"+"Code :"+ev.code+" reason :"+ev.data+"</h1>";
  }
  
  socket.onmessage=function(ev){
  //alert('polucheny dannye :'+ev.data);
  out.innerHTML+='<code>Angaaben :'+ev.data+'</code></br>';
  }
  
  socket.onerror=function(error){
  //alert('error :'+error.message);
  out.innerHTML='<b>Error : '+error.message+'</b>';}
  </script>
  <script>
//var html=document.getElementsByTagName("html")[0];
var tout=document.getElementById('tout');
var dtct=document.createElement('div');
dtct.style.display='flex';
if(dtct.style.display === 'flex'){
//html.className+='flex'
tout.innerHTML='flex OK';
}else{
//html.className+="noflex";
tout.innerHTML='flex not supported';}
</script>
<script>
var ismedia=!!(window && window.matchMedia);
if(window.matchMedia){tout3.innerHTML='media queries OK';}
else{tout3.innerHTML='media queries NOT supported';}
</script>
