<!-- files-manager.html -->
<style>

table#myt caption {
font-size:2rem;
color:#444;
}
table#myt{
border-collapse:collapse;
font-family:Agenda-Light; font-weight:100;
background:#333;color:#fff;
text-rendering:optimizeLegibility;
border-radius:8px;
float:left;
}
table#myt thead th{ font-weight:600;}
table#myt thead th,table#myt tbody td{
padding: .8rem;font-size:1.4rem;}
table#myt tbody td{
padding:.8rem;font-size:1.4rem;
color:#444;background:#eee;
}
table#myt tbody tr:not(:last-child){
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
}
@media screen and (max-width:600px){
table#myt thead{display:none;}
table#myt tbody td{display:block;padding:.6rem;}
table#myt tbody tr td:first-child{background:#333;color:#fff;}
table#myt tbody td:before{
content:attr(data-th);font-weight:bold;
display:inline-block;width:6rem;
}
}
table#myt tbody tr .blue-file{background:lightblue;}
table#myt tbody tr .brown-file{background:brown;}
table#myt tbody tr .blue1-file.fick-check{background:red;}
table#myt tbody tr .blue1-file{background:lightblue;}
table#myt tbody tr .brown1-file{background:lightgreen;}
</style> 

<div class="daper" style="">
<h1>Files manager</h1>

<br>
<span id="debug" style="background:pink;"></span>

<hr/>
<b>Backward :</b><span id="backward"></span><br>
<button id="backwardButton" onclick="kickdas(this)" data-path="" value="">back</button>
<br>
<button style="margin-left:300px;" onclick="createFolder()">Создать папку</button>
<input id="namefolder" type="text" value="baby"/>
<div>



<% 
var fsext=[".html",".svg",".css",".js"];
function filestable(){
var gigu=``;
for(var i of mata.entries()){
var baba3=hel(i[1].ext);
gigu+=`<tr><td class="${i[1].isFile ? `blue1-file` : `brown1-file`}" 
onclick="${i[1].ext==`` ? `kickdas(this)`:`getAttr(this)`}" data-path="${i[1].path}">${i[1].file}</td>`;
gigu+=`<td>${baba3 ? `<button onclick="do_file_edit(this)" value="${i[1].path}">edt</button>` : ``}</td>`;
gigu+=`<td><button class="del" value="${i[1].path}" data-isfile="${i[1].isFile}">del</button></td>`;
gigu+=`<td><input type="checkbox" onchange="fick_check(this)" data-path="${i[1].path}"/></td></tr>`;
}
return gigu;
}
var hel= ext => fsext.some(el => el == ext);
%>
<table id="myt">
<thead><tr><th>tasks</th><th>status</th><th>delete</th><th>check</th></tr></thead>
<tbody id="rs3">
<%if(mata){%><%- filestable() %><%}%>
</tbody>
</table>
<div style="background:pink;position:relative;float:left;margin-left:5em;"><b>dropdown</b>
<% 
if(answerfiles)
var arr=answerfiles.ab;
var bladi="public";
var root={name:bladi,_id:bladi,ino_id:"0",_id:bladi,children:[]}
var tree={root:root}
function getParent(rootNode,rootId){
for(var i=0 in rootNode.children){
var child=rootNode.children[i];
if(child._id === rootId) return child;
if(child.children.length > 0)
var childResult=getParent(child,rootId);
if(childResult !=null) return childResult;
} 
if(rootNode._id == rootId){return rootNode;}else{return null}
}
function buildTree(tree){
for(var i in arr){
var elem=arr[i];
if(elem.name === bladi) continue;
elem["children"]=[];
var rootId=elem.parent_id;
var parent=getParent(tree.root,rootId);
parent.children.push(elem);}}
buildTree(tree);
var mr=``;
function prwas(ites){
(ites.children.length > 0 ? mr+=`<details><summary>${ites.name}</summary><ul class="fuku">` :
 (!ites.is_file ? mr+=`${ites.name}` : ``));
for(var i of ites.children.entries()){
mr+=`<li title="${i[1]._id}">`;
if(i[1].is_file) mr+=`${i[1].name}`;
prwas(i[1]);
mr+=`</li>`;
}
(ites.children.length > 0 ? mr+=`</ul></details>`:``);
}
prwas(tree.root);
%>
<%- mr %>
</div>
<div style="clear:both;">clear</div>
</div>
<script>
var fsext=[".html",".svg",".css",".js"];

function kickdas(el){
var data={};
data.basedir=el.getAttribute('data-path');
var xhr=new XMLHttpRequest();
	xhr.open('post','/that_direction');
	xhr.setRequestHeader('Content-Type','application/json','utf-8');
	xhr.onload=function(e){
	if(xhr.status==200){
    var dat=JSON.parse(this.response);
	if(dat.mata[0]){
	backward.textContent=dat.mata[0].back;
	backwardButton.value=dat.mata[0].back;
	backwardButton.setAttribute('data-path',dat.mata[0].back);
	}
    ins(dat);
	 suka2();
	 debug.textContent='';
	 }else{
	 debug.textContent=this.response+' = '+xhr.staus;}}
	xhr.onerror=function(e){alert(e.status)}
	xhr.send(JSON.stringify(data));
	}

function ins(dat){
var kukfiles;
    var els=dat.mata;
    if(rs3.hasChildNodes()){
    while(rs3.hasChildNodes()){
    rs3.removeChild(rs3.firstChild);}}
	els.forEach(function(el,i){
	var tr=document.createElement('tr');
    var td=document.createElement('td');
	
	var st='class="'+(els[i].isFile == true ? "blue1-file" : "brown1-file")+'"';
	var st1=els[i].path;
	var baba=(file_ex_isvalid(els[i].ext));
	var clickretr=(els[i].ext=="" ? "kickdas(this)":"getAttr(this)");
	var daba3=(baba ? `<button onclick="do_file_edit(this)" value="${els[i].path}">edt</button>`:``);
tr.innerHTML='<td '+st+' onclick="kickdas(this)" data-path='+st1+'>'+els[i].file+'</td>'+
'<td>'+(baba ? '<button onclick="do_file_edit(this)" value="'+st1+'">edt</button>':'')+'</td>'+
'<td><button class="del" data-isfile="'+els[i].isFile+'" value="'+st1+'">del</button></td>'+
'<td><input type="checkbox" onchange="fick_check(this)" data-path="'+st1+'"/></td>';
//tr.innerHTML=`<td ${st} onclick=${clickretr} data-path=${st1} >${els[i].file}</td>
//<td>${daba3}</td>
//<td><button class="del" data-isfile="${els[i].isFile}" value="${st1}">del</button></td>
//<td><input type="checkbox" onchange="fick_check(this)" data-path="${st1}"/></td>`;
rs3.appendChild(tr);
	 });
}
function getAttr(el){alert(el.getAttribute('data-path'))}
function suka2(){
var dels=document.getElementsByClassName('del');
for(var i=0;i<dels.length;i++){
dels[i].addEventListener('click',do_del);
}}

function do_del(e){
if(confirm("Delete this file or dir: "+e.target.value+"? Press a button!")==true){
var data={};
var sifa=e.target;
//alert('about deleting: '+sifa.value)
data.path=sifa.value;
data.isfile=sifa.getAttribute("data-isfile");
//alert('Is file? :'+sifa.getAttribute("data-isfile"))
//data.basedir=basedir
//sifa.parentNode.parentNode.remove();
var xhr=new XMLHttpRequest();
	xhr.open('post','/delete_that_pass');
	xhr.setRequestHeader('Content-Type','application/json','utf-8');
	xhr.onload=function(e){
	if(xhr.status==200){alert(this.response);debug.textContent=this.response;
	kickdas(fuckable);
	}else{debug.textContent=this.response;}
	xhr.onerror=function(e){alert(e.status)}
}
xhr.send(JSON.stringify(data))
}else{alert("otmena")}
}

suka2();
function do_file_edit(el){
// var a=basedir.textContent;
//alert('edit_path: '+a+' : '+el.value+' == '+'el.value.replace(/[\\]/g,"%")');
// var ds=el.value.replace(/[\\]/g,"8");
//alert(ds);
// var ps=ds.replace(/[8]/g,"/");
//alert(ps);
window.location.href='/app/filesmanager/'+el.value;
//lh:3000/app/elvalue
}

function createFolder(){
var data={};
var val=basedir.textContent;
data.path=val;
data.name=namefolder.value;
var xhr=new XMLHttpRequest();
	xhr.open('post','/create_that_folder');
	xhr.setRequestHeader('Content-Type','application/json','utf-8');
	xhr.onload=function(e){
	if(xhr.status==200){
	debug.textContent=this.response;
	var fuckable=document.getElementById('fuckable');
	kickdas(fuckable);
	}else{
	debug.textContent=this.response;}}
	xhr.onerror=function(e){alert(e.status)}
	xhr.send(JSON.stringify(data))
}
function fick_check(el){
var sis=document.getElementsByClassName('blue1-file');
//alert(el.getAttribute('data-path'));
var pel=el.getAttribute('data-path');
//alert(el.parentNode.parentNode.getAttribute('data-path'))

for(var i=0;i<sis.length;i++){
var si=sis[i];
if(pel==si.getAttribute('data-path')){
if(el.checked){
si.classList.add('fick-check');
//si.classList.add('fick-check');
}else{si.classList.remove('fick-check')}}
}
}
function file_ex_isvalid(ext){
		var res=fsext.some(function(el,k,ar){return el == ext.toLowerCase()});
		return res;}
</script>
</div>