<!-- formated-article-view -->

<div class="codrops-header" style="z-index:1;">
<% if(post){%><h1><%= post.postname %><span><%= post.shorti %></span></h1><%}%>
<nav class="codrops-demos">
<a class="current-demo" href="">fb</a>
<a href="">vk</a>
<a href="">g+</a>
</nav>	
</div>
<div id="content">
<article class="post">
<% if(post){%>
<h1 class="post-title"><%= post.postname %></h1>

<p><small><%= formated %> by <%= post.autor %></small></p>

<p><i><%= post.caption %></i></p>
<!--<img src="/images/result-blume-400.jpg"/> -->
<div class="container" style="width:100%;border:1px solid blue;margin:0 auto;box-sizing:border-box;-webkit-box-sizing:border-box;">

<picture>
<source media="(min-width: 1366px)" srcset="/images/upload/tempo/gorod1-m4.jpg">
<source media="(min-width: 808px)" srcset="/images/upload/tempo/gorod1-m3.jpg">
<source media="(min-width: 600px)" srcset="/images/upload/tempo/gorod1-m2.jpg"> 
<source media="(max-width: 220px)" srcset="/images/upload/tempo/gorod1-m1.jpg"> 
<img id="fuckimg"  sizes="100vw" src="/images/upload/tempo/gorod1-m2.jpg"
srcset="/images/upload/tempo/gorod1-m1.jpg 384w,
/images/upload/tempo/gorod1-m2.jpg 768w, 
/images/upload/tempo/gorod1-m3.jpg 1152w,
/images/upload/tempo/gorod1-m4.jpg 1536w"
> 
</picture>
</div>


<p><%- post.maincontent %></p>
<% for(var i in post.images){%>
<p><%= post.images[i].title %></p>

<p>
<figure style="background:rgba(0,0,244,0.1);width:100%;margin-left:0;">
<% if (post.images[i].hasOwnProperty("src1")){%>
<picture>
<source media="(min-width: 1366px)" srcset="<%= post.images[i].src3 %>">
<source media="(min-width: 808px)" srcset="<%= post.images[i].src2 %>">
<source media="(min-width: 600px)" srcset="<%= post.images[i].src1 %>">
<source media="(min-width: 320px)" srcset="<%= post.images[i].src %>">

<img src='<%= post.images[i].src1 %>' title='<%= post.images[i].title%>' alt='<%=post.images[i].title%>'
sizes="100vw" srcset="<%= post.images[i].src %> 384w,
 <%= post.images[i].src1 %> 768w, 
 <%= post.images[i].src2 %> 1152w,
<%= post.images[i].src3 %> 1536w"/>
</picture>
<%}else{%>
<img src="<%= post.images[i].src %>" alt="" title="<%= post.images[i].title %>"/>
<%}%>
<figcaption><p><%= post.images[i].content %></p></figcaption></figure>
</p>

<%}%>

</br>
Last time edited: <%= redformat %>
</br>
Tags: <%= post.meta %>
</br>
Category : <%= post.category %>
</br>
Rubrik: <%= post.rubrik %>
</br>
Visibility: <%= post.visa %>
</br>Serial: <%= post.serial %>
</br><b>Fotos: </b>
<ul>

</br><% if(user && user.role == "admin"){ %>
<a onclick="redaktorHref(this)" data-id="<%= post._id %>" href="#popredaktor">redact</a></br><%}%>
<span id="demo" style="background:blue;"></span>
<%}%>

</article>
</div>

<%- include includes/adminarticles.html %>

<aside id="sidebar">
<section class="widget">
<h4 class="widgettitle">attariku</h4>
<img src='/images/emblema-a.svg' width="100%" height="100%"/>
</section>
</aside>

<aside id="sidebar">
<section class="widget">
<figure>
<caption><h4 class="widgettitle">Agenda</h4></caption>
<div class="agenda" style="background:blue;height:10em;">s</div>
<figcaption><p>l</p></figcaption>
</figure>
</section>
</aside>
<footer id="footer2"><p><h3>footer2 for anonce and advertising</h3></p></footer>