<!-- formated-article-view -->

<div class="codrops-header" style="z-index:1;">
<% if(post){%><h1><%= post.postname %><span><%= post.shorti %></span></h1><%}%>
<nav class="codrops-demos">
<a class="current-demo" href="">fb</a>
<a href="">vk</a>
<a href="">g+</a>
</nav>	
</div>
<div id="content">
<article class="post">
<% if(post){%>
<h1><%= post.postname %></h1>

<small><%= formated %> by <%= post.autor %></small>

<p><i><%= post.caption %></i></p>
<!--<img src="/images/result-blume-400.jpg"/> -->

<%- post.maincontent %>
<% if(post.images !==undefined){%>
<% for(var i in post.images.images){%>
<p><%= post.images.images[i].title %></p>
<p><%= post.images.images[i].content %></p>
<div><img src='<%= post.images.images[i].src %>' title='<%= post.images.images[i].title%>' alt='<%=post.images.images[i].title%>'/></div>

<%}}%>

</br>
Last time edited: <%= redformat %>
</br>
Tags: <%= post.meta %>
</br>
Category : <%= post.category %>
</br>
Rubrik: <%= post.rubrik %>
</br>
Visibility: <%= post.visa %>
</br>Serial: <%= post.serial %>
</br><b>Fotos: </b>
<ul>

</br><% if(user && user.role == "admin"){ %>
<a onclick="redaktorHref(this)" data-id="<%= post._id %>" href="#popredaktor">redact</a></br><%}%>
<span id="demo" style="background:blue;"></span>
<%}%>

</article>
</div>
<% if(user && user.role == "admin"){ %>
<a href="#x" class="overlay" id="popredaktor"></a>
<div class="popup" id="poredactor">
<b>Redaktor</b></br>
<span id="outinfo" style="background:green;"></span></br>
<form name="post" method="post" enctype="multipart/form-data">
<span><b>Postname: </b></span></br>
<input type="text" name="postname" required placeholder="postname" value="" style="width:400px;"></br>
<b>Title: </b></br>
<input type="text" name="title" required placeholder="title" value=""></br>
<b>Visa - visability(0,1,2 - nur mir,all,2): </b></br>
<input type="text" name="visa" required placeholder="visa" value=""></br>

<b>shorti - ein KurzAnonce(3-4 Worte): </b></br>
<input type="text" name="shorti" required placeholder="shorti - kurzAnonce" value=""></br>
<b>Autor: </b></br>
<input type="text" name="autor" required placeholder="autor" value=""></br>
<b>Created: </b></br>
<input type="text" name="created" required placeholder="created" value=""></br>
<b>Redaktiert: </b></br>
<input type="text" name="redaktiert" required placeholder="redaktiert" value=""></br>
<b>Some caption: </b></br>
<textarea name="caption" required placeholder="caption" value="Some caption" required style="width:400px;height:60px;"></textarea></br>
<b>Maincontent :</b></br>
<textarea name="maincontent" style="width:400px;height:200px;" required placeholder="maincontent"></textarea></br>
<b>meta - metatags: </b></br>
<input type="text" name="meta" value="" placeholder="meta tags"></br>
<b>category -(webdesign): </b></br>
<input type="text" name="category" value="" required placeholder="category - WebDesign"></br>
<b>rubrik - css3: </b></br>
<input type="text" name="rubrik" value="" required placeholder="rubrik - css3"></br>
<b>serial: </b></br>
<input type="text" name="serial" value="" placeholder="serial - 1?"></br>
<b>id: </b></br>
<input type="text" name="id" value="" required placeholder="id"></br>
<input type="submit" value="save"></br>
</form></div>
<script>
var y;
function redaktorHref(el){
//alert('ok');
alert(el.getAttribute('data-id'));
outinfo.innerHTML='connecting database...';
var x=el.getAttribute('data-id');
y=x;
var xhr=new XMLHttpRequest();
    xhr.open('GET','/takePost/'+x);
	xhr.onload=function(e){
  if(this.status == 200){
  outinfo.innerHTML='';
  var data=JSON.parse(this.responseText);
  //textredactor.value=data.data;
  var d=document.forms.namedItem("post");
  d.postname.value=data.postname;
  d.title.value=data.title;
  d.visa.value=data.visa;
  d.shorti.value=data.shorti;
  d.autor.value=data.autor; 
  d.created.value=data.created; 
  d.redaktiert.value=data.redaktiert;
  d.caption.value=data.caption;
  d.maincontent.value=data.maincontent;
  d.meta.value=data.meta;
  d.category.value=data.category;
  d.rubrik.value=data.rubrik; 
  d.serial.value=data.serial;
  d.id.value=x;
  }}
xhr.onerror=function(e){alert("fuck" +e.status);
outinfo.innerHTML=e.status +' : '+JSON.parse(this.responseText).err;}
xhr.send();
}
var formface=document.forms.namedItem("post");
formface.addEventListener('submit',function(ev){
var data=new FormData(document.forms.namedItem("post"));
var xhr=new XMLHttpRequest();
    xhr.open("post","/saveaneditedpost",true);
	xhr.onload=function(e){
	 if(xhr.status==200){
	 //var data=JSON.parse(this.response);
	 demo.innerHTML=this.response;
	 }
	 else{demo.innerHTML=this.response;
	 }}
	 xhr.send(data);
	 ev.preventDefault();},false);
</script>
<%}%>
<aside id="sidebar">
<section class="widget">
<h4 class="widgettitle">attariku</h4>
<img src='/images/emblema-a.svg' width="100%" height="100%"/>
</section>
</aside>

<aside id="sidebar">
<section class="widget">
<figure>
<caption><h4 class="widgettitle">Agenda</h4></caption>
<div class="agenda" style="background:blue;height:10em;">s</div>
<figcaption><p>l</p></figcaption>
</figure>
</section>
</aside>
<footer id="footer2"><p><h3>footer2 for anonce and advertising</h3></p></footer>