<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"><![endif]-->
<!--[if gt IE 8]><html class="no-js"><!--<[endif]-->
<html lang="en" class="noflex">
<head>
<title>koa ejs</title>
<%- include includes/head.html %>

</head>
<body>
<div id="pagewrap">
<header id="header"><%- include includes/header.html %></header>
<!-- <div id="flex-content"> -->

<%- body %>
<!-- </div> -->

<%- include includes/login_form.html %>
<script>

     var form=document.forms.namedItem("fileinfo");
  //alert(document.forms.namedItem("fileinfo").username.value);
  //alert(form.username.value);
  
  
form.addEventListener('submit',function(ev){
//odata=new FormData(document.forms.namedItem("fileinfo"));
//odata.append("custom field","this is some extra data");
//alert(documents.form.fileinfo);
var suserpassw=form.password.value;
var suser=form.username.value;
var oreq=new XMLHttpRequest();
var params='username='+encodeURIComponent(suser)+'&password='+encodeURIComponent(suserpassw);
     oreq.open("post","/custom2",true);
	 //oreq.setRequestHeader('Content-Type','multipart/form-data');
	 oreq.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
	 
	 oreq.onload=function(oevent){
	 if(oreq.status==200){
	 var data=JSON.parse(this.response);
	 //out4.innerHTML=this.response;
	 out4.innerHTML=data.success+" : "+data.redirect;
	 window.location.href=data.redirect;
	 }
	 else{out4.innerHTML=this.response;//oreq.status;
	 //window.location.href="#";
	 }}
	 //oreq.send(odata);
	 oreq.send(params);
	 ev.preventDefault();},false);
	 </script>
	 <script>
	/***
  var usface=document.forms.namedItem("adus");
usface.addEventListener('submit',function(ev){
var odata=new FormData(document.forms.namedItem("adus"));
var xhr=new XMLHttpRequest();
    xhr.open("post","/addingfuckinguser",true);
	xhr.onload=function(e){
	 if(xhr.status==200){
	 var data=JSON.parse(this.response);
	 out5.innerHTML=this.response;
	 }
	 else{out5.innerHTML=this.response;
	 }}
	 //alert('df')
	 xhr.send(odata);
	 ev.preventDefault();},false);

***/
 var forma=document.forms.namedItem("adus");
  forma.addEventListener('submit',function(ev){
var pw=forma.password.value;
var usname=forma.username.value;
var email=forma.email.value;
var oreq=new XMLHttpRequest();
var params='username='+encodeURIComponent(usname)+'&password='+encodeURIComponent(pw)+'&email='+
encodeURIComponent(email);
     oreq.open("post","/addingfuckinguser",true);
	 oreq.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
	 
	 oreq.onload=function(e){
	 if(oreq.status==200){
	 var data=JSON.parse(this.response);
	 out5.innerHTML=this.response;
	 //out5.innerHTML=+data.success+" : "+data.redirect;
	 //alert(data.redirect);
	 window.location.href=data.redirect;
	 }
	 else{out5.innerHTML=this.response;//oreq.status;
	 
	 }}
	 oreq.send(params);
	 ev.preventDefault();},false);
	 
  </script>
  <!--
= module >
 if(module =="on" && module !=='undefined'){>  
aside id="sidebar"><- include/includes/aside.html ></aside>
} -->

<footer id="footer"><%- include includes/footer.html %></footer>
</div>
</body>
</html>